[2014-08-20 07:44] kryskool opened #10 "Problem with migrations folders"
Hi

I see a problem with the folder migration, see the screenshot
I think the problem come from Launchpad Migrations

![Github View](https://cloud.githubusercontent.com/assets/337842/3977724/abd7f37e-283d-11e4-92ee-f9c86b59b296.png)

Regards,

[2014-08-20 07:47] pedrobaeza commented on #10
Yeah, it can be. In OCB happened something similar. The solution is to make a PR solving the problem.

Regards.

[2014-08-20 12:31] bwrsandman commented on #10
That's not a problem, github just updated their api.
It shows that way because migrations only has 7.0.0.2 as a folder inside, it concatenates them in the interface, that is all.

You can still visit:
- https://github.com/OCA/product-attribute/tree/7.0/product_custom_attributes/migrations
- https://github.com/OCA/product-attribute/tree/7.0/product_custom_attributes/migrations/7.0.0.2

[2014-08-20 12:31] #10 closed, assigned to nobody

[2014-12-02 06:26] lukebranch opened #28 "[8.0/Master] Any plans on porting product_customer_code to 8.0 soon?"
I've been working on building a module to achieve the functionality of product_customer_code, however I have just come across this module and it looks like it achieves what I aimed to achieve with my own module.

I'd like to know if there is any roadmap for porting this particular module to 8.0 as if there are plans to port it soon I will wait until the module is ported to 8.0 according to OCA sta

[2014-12-03 23:51] acysos commented on #28
Hello,

I also need it. I'm working in it.

Greetings

[2014-12-04 02:17] lukebranch commented on #28
@acysos ,

It's great to know you're working on it. I've watched your repository so that I receive updates on changes:

https://github.com/acysos/product-attribute

Please let me know if there's anything I can contribute.

[2014-12-18 02:25] lukebranch commented on #28
@acysos ,

Just an FYI - This module seems to install without any issues in 8.0. I'm not sure whether the full functionality is present in 8.0 in it's current state as I have not yet tested the module extensively, however a tab called 'Customer Code' has been added to variants (product.product) and is visible and functioning on variants.

[2014-12-18 10:41] acysos commented on #28
Yes, I know. I have migrated the module to the new API, I made some tests and it works. I have other PR in this repository, when it is solved I request another PR with this module.

If you need it now, I can send you by email.

Greetings

[2014-12-18 11:05] pedrobaeza commented on #28
Ignacio, you can make PRs in paralell if you want. You only need to create another local branch out of the current one, add the module, and push to a new remote branch.

[2014-12-18 11:21] lukebranch commented on #28
@acysos ,

Thanks for letting me know, and good to hear it's almost ready for pushing to the OCA repository. If you could email your migrated version I would really appreciate it. My email is:

odoocommunitywidgets (at) gmail.com

i'm currently building a module for showing product_code (among other things) on order lines in printed reports (WIP):

https://github.com/OdooCommunityWidgets/product_e

[2015-01-06 15:04] dulhaver opened #36 "product_brand does not work in 8.0"
I received a port from someone. The person who did the coding can't manage to do a PR so I will provide the port from her in a PR from my fork of OCA/product-attribute shortly

[2015-01-06 16:32] yvaucher commented on #36
link to #35

[2015-01-16 10:49] lukebranch commented on #28
@acysos ,

Just a quick question regarding the module, is it the intended functionality to have this module work only on product variants, but not on product.template?

[2015-01-16 11:50] acysos commented on #28
Hello,

I have made a PR: https://github.com/OCA/product-attribute/pull/38

I have to make some changes, but it works in product.template

Greetings

[2015-01-16 11:58] acysos opened #40 "product_gtin and pos"
Hello,

I'm trying the product_gtin module and work very well. But I see that need an improvement. The point of sale only read EAN13, so we can put new barcodes but it can be used in the point of sale. Is someone working in this?

Greetings

[2015-01-16 12:11] pedrobaeza commented on #40
What do you mean? Expanding the module for point of sale support? This should be done in a different module I think (_pos_product_gtin_) or similar.

[2015-01-16 12:26] acysos commented on #40
Yes, an extension to support this barcode in pos.

[2015-01-16 12:29] pedrobaeza commented on #40
I don't know everyone working on that, but are you sure about that on v8. New version has a lot of improvements to recognize prefix patterns for indicating products, customers, and so on. Is all of this based on EAN13?

[2015-01-16 12:58] acysos commented on #40
Yes, the point of sale is only bases in EAN13, also check the error of zero like first number, but it doesn't check code with lengt different of 12 or 13.

The problem is this code in devices.js:

[code]

[2015-01-16 14:45] pedrobaeza commented on #40
Yeah, I see, have you reported an issue to Odoo to try to integrate it on core?

For v7 and v8, you can inherit JavaScript core and add the behaviour in a custom module.

[2015-01-19 02:19] lukebranch commented on #28
@acysos ,

Thanks! I'll clone #38 for now and wait for OCA to merge this into the 8.0 branch.

[2015-01-20 15:54] acysos commented on #40
To integrate in the core, it's also necessary integrate product_gtin.

[2015-01-28 12:28] pedrobaeza opened #42 "Migration of product_images to 8.0"
Hi, I'm finishing the migration product_images to 8.0, so I put this issue for anyone looking for this module or that wants to start a new task, don't do it.

[2015-02-09 15:29] youring commented on #42
_!_ can't wait @pedrobaeza

Will this module do save images on filesystem like behavior of odoo core saving attachment?
I mean no more filestore path configuration on company page. Just use the default as odoo does.
Thanks.

[2015-02-10 05:22] lukebranch commented on #42
@pedrobaeza ,

Thanks, i'm looking forward to using it as a dependency for website_multi_image here:

https://github.com/OdooCommunityWidgets/website_multi_image

and website_product_swatch_extended here (currently just a placeholder):

https://github.com/OdooCommunityWidgets/website_product_swatch_extended

I was considering also using website_multi_image's product images system as a basis for bu

[2015-02-17 13:36] LeartS commented on #36
product_brand is now available and working correctly for 8.0, we can close this.

[2015-02-17 16:46] #36 closed, assigned to nobody

[2015-02-23 04:28] lukebranch commented on #28
@acysos ,

I've been using your fork of product-attribute/product_customer_code (unfinished as far as I can tell), however i've run into an issue that I think may be related to the module.

The issue is detailed here:

https://github.com/odoo/odoo/issues/5241

however i'd like to confirm that it is indeed product_customer_code and note the Odoo core or another community module.

Thanks for your aw

[2015-03-05 16:52] acysos commented on #28
hello,

I expect to solve it the next week.

Greetings

[2015-03-06 00:11] lukebranch commented on #28
@acysos ,

Thank you! That's great news.

[2015-03-11 09:32] lmignon opened #56 "product_gtin ean11 and gtin14 are no more checked"
Since commit https://github.com/OCA/product-attribute/commit/076022b335ac09c3487326f88250ee0c57f891db ean code with a len of 11 et 14 are no more valided using the checksum method

[2015-03-12 08:11] pedrobaeza commented on #42
I have made a PR to track the progress in #57

[2015-03-12 09:34] lukebranch commented on #42
@pedrobaeza ,

Thanks for the update, I'll watch the PR.

Are there any plans to include some extra features like Alt/Title attribute, and perhaps import from URL, or local path, or are these features better added to another module to extend the base module functionality for specific use-cases?

[2015-03-12 10:47] pedrobaeza commented on #42
The alt attribute can be achieved with the name (which is the file name by default), and the other things are in the roadmap (you can see already code about this on the PR).

[2015-03-12 11:02] lukebranch commented on #42
@pedrobaeza ,

Thank you. I'll check the PR. Thanks again for your work on this project, it's going to be very useful in 8.0.

[2015-03-30 07:19] gurneyalex opened #63 "7.0 branch needs flake8 cleaning"

[2015-03-30 08:44] laetitia-gangloff commented on #63
Hello,

someone doing this ?

[2015-04-09 17:51] gurneyalex commented on #63
No time for this at the moment, and I have 0 project on 7.0 so the incentive is quite low.

If anyone takes this, please assign the task to themselve.

[2015-05-12 07:32] thomasklosinsky opened #67 "purchase.order form view"
it would be great to have product_brands attribute related in purchase.order (.line) view also to search and select products from brand and name...

Any chance to have it implemented in search logic of that field?

[2015-05-28 08:15] lukebranch commented on #42
@pedrobaeza ,

Sorry to bother you, I know you must be incredibly busy, especially with the upcoming Odoo days.

I'd just like to ask if in your opinion the product_images module is model stable in terms of the image fields in the database from this repository:

https://github.com/pedrobaeza/product-attribute/tree/8.0-product_images

I'd like to start developing a website_product_images module tha

[2015-05-29 07:17] pedrobaeza commented on #42
Hi, Luke, today I check it if all is correct, and tell you back.

[2015-05-29 07:47] lukebranch commented on #42
@pedrobaeza ,

Thank you.

[2015-06-01 06:59] pedrobaeza commented on #42
Luke, you can check in the PR #57 the module.

[2015-06-01 07:42] lukebranch commented on #42
@pedrobaeza ,

Thank you sir!

I'm going to start work on the website_multi_image module based on your 8.0-product_images branch:

https://github.com/pedrobaeza/product-attribute/tree/8.0-product_images/product_multi_image

i'll submit a PR to OCA/website as soon as I have something viable for submission to the OCA.

[2015-06-09 16:49] gdgellatly opened #77 "product_sequence causes tests to fail"
@AngelMoya-Domatix

Product Sequence is causing tests on this repo to fail test.  It sets a static default and then a unique constraint.

Moreover I don't understand quite why it is done this way.  Could we not just use copy=False, default=<get sequence> and remove all the methods entirely?  This would number all existing products automatically and ensure duplicates were given a new number.

[2015-06-09 18:11] angelmoya commented on #77
Hi, I'm not author of this code, but:
- with copy = false, you lost original code, maybe you want to maintain part of original code.
- with method write, setting code="/" you can set new code of sequence, this is useful setting codes after module installation.

The test should not fail, because create method update this value. This is the same way sales sequence do it.

[2015-06-18 05:34] gdgellatly commented on #56
Can we close this issue now?

[2015-06-18 06:04] pedrobaeza commented on #56
I think so

[2015-06-18 06:05] #56 closed, assigned to nobody

[2015-06-24 07:12] thomasklosinsky opened #82 "Adding product.brand.id to reports as group"
Can I easily add product.brand.name/id as a group selector in report.pos.order?

Any help appreciated.

[2015-07-18 08:05] lukebranch commented on #42
@pedrobaeza ,

Any plans to add a watermark feature for your module? I've just come across this:

https://github.com/akretion/leeches-fuck

which looks like it handles much of the code needed for watermarking images. I think it would be a really useful feature to have.

Magento offers the option to display watermarked product images on the frontend, while keeping the backend images clean. I think

[2015-07-27 09:03] clonedagain opened #88 "Feature request : certified labels (ie. organic, fair trade...)"
Certified labels like "organic", 'fair-trade", controlled origin appellations etc. impose a few requirements to companies.
- the labels must be clearly indicated on the customer invoices, along with the name/code of the certification organization
- stock, receipts, deliveries, manufacturing and invoices must be auditable, to prove that the rules of the certification are respected.

It would be use

[2015-07-27 09:08] clonedagain commented on #88
We have a private implementation of this which may still contain a few specific parts but could be used as a starting point.
We'll share it if someone else steps up to work on this with us.

Current features are:
- multiple labels per product
- possibility to print the label's logo on invoice lines and delivery slips lines
- possibility to mention the label on the footer of invoices and delivery s

[2015-07-29 20:54] clonedagain commented on #88
@lbellier for your information

[2015-07-30 06:04] lbellier commented on #88
@clonedagain : Ok +1

[2015-07-30 18:05] pedrobaeza commented on #42
No, it's something not planned, but this should be done in a separated module I think.

[2015-07-31 01:59] lukebranch commented on #42
@pedrobaeza ,

Thanks for the reply. Regarding the module itself (from your personal repo), i've noticed it seems to introduce a significant load time on kanban views. I'm currently working on an instance with around 4500 products with around 5-6 images each (all roughly 1200px by 800px JPG). Kanban loading times to be quite slow whether the images are stored in the local filesystem, or external U

[2015-07-31 20:43] mgielissen opened #90 ""duplicate key value violates unique constraint "ir_sequence_type_code_unique" after upgrading product_sequence"
After running upgrade I get this error:

openerp.sql_db: bad query: INSERT INTO "ir_sequence_type" ("id", "code", "name", "create_uid", "write_uid", "create_date", "write_date") VALUES(nextval('ir_sequence_type_id_seq'), 'product.product', 'Product', 1, 1, (now() at time zone 'UTC'), (now() at time zone 'UTC')) RETURNING id
Traceback (most recent call last):
  File "/opt/odoo/odoo-server/openerp/s

[2015-07-31 21:04] mgielissen commented on #90
I deleted the record product.product with "delete from ir_sequence_type where code = 'product.product';" and rerun the module upgrade without problems.

[2015-08-01 12:06] pedrobaeza commented on #90
Well, seeing in commit history, XML-ID of the sequence type hasn't been changed, so maybe you were using an intermediate version non-official, and updating you have found this error.

I close as there are no signs of any action in our part.

[2015-08-01 12:06] #90 closed, assigned to nobody

[2015-08-01 12:40] pedrobaeza commented on #42
Obviously, when you add images that are external url, a request has to be made to this external site and get the image, so the performance suffer a bit. This can be improved with a cache mechanism that stores the image and only retrieve it again if there's a change on the original URL, but I didn't investigate further how to get this update-date info via HTTP (and if it's possible).

[2015-08-02 14:05] lukebranch commented on #42
@pedrobaeza ,

Thanks for the reply. In my case I think implementing a caching mechanism as well as a cache-warmer may be necessary due to the size of the catalog for the instance i'll be using product_multi_image in.

Do you think this would be best handled by Odoo's internal caching mechanism, or something along the lines of Varnish?

[2015-08-02 18:29] pedrobaeza commented on #42
The cache mechanism should be done from scratch I think, because I don't know any mechanism in standard about that.

[2015-08-03 07:22] lukebranch commented on #42
@pedrobaeza , thanks for your advice. Do you have any plans at present to build a caching mechanism into the module, or is this something you suggest I pursue on my end?

[2015-08-03 07:24] pedrobaeza commented on #42
Sorry, but this is something I can't afford now, so any help for this feature is welcome.

[2015-08-03 07:41] lukebranch commented on #42
@pedrobaeza ,

Thanks for letting me know, I understand. If it's a matter of funding i'd be happy to speak my company's management to see if we can help fund the cache mechanism module. If you're too busy for this type of project right now though that's fine, we'll look into contracting someone to build it for us (and submit a PR to the product-attribute, or web OCA repo's at a later date).

I per

[2015-08-04 04:35] lukebranch commented on #42
@pedrobaeza ,

I'm sorry to bother you again, I understand you're incredibly busy right now.

Regarding the performance issue i've just been thinking that in my case perhaps the kanban view is trying to load full-sized images from disk, as I have only imported full-size images to the following field when importing my products:

image_ids/path

the full-size images are still web-optimised (1200px b

[2015-08-23 12:05] pedrobaeza commented on #42
Sorry for the late reply. I was in holidays. Kanban is getting the small image (https://github.com/OCA/product-attribute/pull/57/files#diff-9a19da29afb5cb5220eb200c35694a37R76), so this is not the low-performance reason.

[2015-08-24 09:54] lukebranch commented on #42
@pedrobaeza ,

Thanks for the reply. I'll keep digging to figure out the issue.

I've been discussing with someone in regards to building a redis module for caching and session storage, perhaps this is key to resolving the performance issue in my case as you've suggested.

[2015-10-14 00:32] pedrobaeza opened #100 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] base_custom_attributes - To be removed
- [ ] customer_context_in_product_view
- [ ] partner_custom_attributes - To be removed
- [ ] pricelist_per_product - By @bmw95 - #189
- [ ] product_attribute_multi_type - To be removed
- [x] product_brand - PR https://github.com/OCA/product-attribute/pull/

[2015-10-21 13:50] levkar opened #101 "product_dimension multi language problem"
domain filter doesn't work in other languages than English.

https://github.com/OCA/product-attribute/blob/9.0/product_dimension/product.py#L51

maybe a boolean field in product.category and changing domain would be the solution...

I'm very busy to fix, test and make a PR but  something like this might work:

class ProductUomCateg(models.Model):
    _inherit = 'product.uom.categ'
is_lenght = fiel

[2015-11-30 07:18] lmignon opened #115 "product-attribute/product_multi_company name conflicts with multi-company/product_multi_company"
I propose to remove product-attribute/product_multi_company since it's unported from version 6.1

[2015-11-30 07:50] pedrobaeza commented on #115
:+1:

[2016-01-05 17:36] #101 closed, assigned to nobody

[2016-01-08 13:05] NL66278 opened #126 "fixed pricelist is simply not working on 8.0"
The following errors occurs when selecting fixed price:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoivlprd80/odoo/parts/odoo/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoivlprd80/odoo/parts/odoo/openerp/http.py", line 574, in dispatch
    result = self._call_function(*_self.params)
  Fi

[2016-01-14 14:39] aristobulo-eezee commented on #126
Are you using migrated data?

I had the same issue with a migration, I solved it by doing:

[code]

I think it should be included in the pre_init_hook.

Hope it helps.

[2016-01-14 15:10] NL66278 commented on #126
That was one of the problems. I am preparing a branch to put back all the missing pieces that were present in the 7.0 branch: https://github.com/nl66278/product-attribute/tree/8.0-fixed-pricelist-fixed
I will add some unit tests before making a pull request.

[2016-02-23 05:02] Xpiva opened #133 "Product Brand"
Product Brand does not work with Version 9 Enterprise, will not complete the install

[2016-02-27 20:07] misern2 opened #136 "[ADD] Product_webcam"
Taking the hr_webcam module as a reference, I just created a new module called product_webcam in order to take pictures and store them into product table.

I created a pull request but I have some problems with coveralls check.
Where I can get any coveralls guide for passing the check ?

[2016-03-17 11:47] SodexisTeam commented on #100
For info, we are porting product_m2mcategories module

[2016-03-17 12:35] pedrobaeza commented on #100
Thanks for the great work migrating modules! What do you think of renaming the module to _product_multi_category_ to follow naming conventions and avoid plurals?

[2016-03-17 12:54] atchuthan commented on #100
yes, we will rename it to product_multi_category.

Also, with regards to product_images module, it seems there is a pending migration at https://github.com/OCA/product-attribute/pull/57 in which it is renamed to product_multi_image.

Should I start the porting of product_multi_image module based on this PR?

[2016-03-17 13:06] pedrobaeza commented on #100
@atchuthan, the correct module to be migrated to 9.0 is https://github.com/OCA/product-attribute/pull/135, that is the work that I started in the PR you have mentioned, but with a better base. The heavy load of the module has been moved to a generic module (_base_multi_image_) to be reusable, that is already merged in https://github.com/OCA/server-tools/tree/8.0/base_multi_image, so you'll need to

[2016-03-17 13:12] atchuthan commented on #100
okay, thanks for the info.

[2016-03-29 16:39] renatonlima commented on #28
Hello @acysos, any news about product_customer_code migration? we have usable in https://github.com/akretion/product-attribute, I saw you did something https://github.com/acysos/product-attribute can you do a PR? I can help in review.

[2016-03-29 16:54] renatonlima commented on #28
I found this https://github.com/OCA/product-attribute/pull/122

[2016-03-29 17:22] acysos commented on #28
Hello,

See https://github.com/OCA/product-attribute/pull/122

Greetings

[2016-04-05 07:27] stijnh92 opened #145 "[product_pricelist_fixed_price][8.0] onchange of base_ext function has newId for self"
In the onchange function of the field base_ext, the id of the current object is set to newId.
I put a breakpoint in my code to find the error and noticed the following:
![error_pricelist](https://cloud.githubusercontent.com/assets/8638753/14274226/6207a684-fb10-11e5-9c8c-8bb76ebcf237.png)

Because of this, when setting the base_ext to fixed price, the field 'other pricelist' is still required and

[2016-04-14 17:05] Segebre opened #147 "[8.0][Installing] ImportError: cannot import name models"
-mkdir /opt/odoo/custom/addons
-cd "/opt/odoo/custom/addons"
-git clone https://github.com/OCA/product_attribute --branch 8.0 [Error 1]

[Error 1]
remote: Repository not found.
fatal: repository 'https://github.com/OCA/product_attribute/' not found
[Error 1]

-git clone https://github.com/OCA/product-attribute --branch 8.0 [Error 1 Fixed]
-sudo nano /etc/odoo/openerp-server.conf
(add) /opt/odoo/cu

[2016-04-17 11:12] pedrobaeza commented on #136
You can click on Details to go to the coveralls site to see which code is not covered, and you can add tests for getting these lines covered.

[2016-04-17 11:12] #136 closed, assigned to nobody

[2016-04-17 11:13] pedrobaeza commented on #133
The module wasn't migrated in that moment. Now it is.

[2016-04-17 11:13] #133 closed, assigned to nobody

[2016-04-17 11:15] pedrobaeza commented on #147
This is working properly, so you should check last updates and try again.

[2016-04-17 11:15] #147 closed, assigned to nobody

[2016-04-17 11:16] #115 closed, assigned to lmignon

[2016-04-17 11:17] pedrobaeza commented on #82
Sorry, but this is for reporting issues, not asking help. Try the forums or community mailing lists.

[2016-04-17 11:17] #82 closed, assigned to nobody

[2016-04-17 11:18] pedrobaeza commented on #77
This is already fixed, so I close.

[2016-04-17 11:18] #77 closed, assigned to nobody

[2016-04-17 11:22] pedrobaeza commented on #42
The module is already migrated with a good abstraction layer for having multi-images in any model (base_multi_image + product_multi_image), so I close this. You can add features to base_multi_image, and all the modules that use it will benefit from it.

[2016-04-17 11:22] #42 closed, assigned to nobody

[2016-04-17 11:23] pedrobaeza commented on #28
The migration is on progress on https://github.com/OCA/product-attribute/pull/122, so we can track it there, so I close.

[2016-04-17 11:23] #28 closed, assigned to nobody

[2016-04-17 11:24] pedrobaeza commented on #40
As this has no activity nor PR proposed, I close.

[2016-04-17 11:24] #40 closed, assigned to nobody

[2016-04-17 11:26] pedrobaeza commented on #67
As this is a feature request, not an issue, I close. You can make a PR to include this missing feature as a point in "Known issues / Roadmap" section in the module, so everyone can see it and maybe someone adds the feature.

[2016-04-17 11:26] #67 closed, assigned to nobody

[2016-04-17 11:27] pedrobaeza commented on #145
@NL66278, your last PR seems to be causing this. Can you please check?

[2016-04-18 03:24] gantulgan opened #149 "How to install this module? Can't find installation instructions."
module: product_multi_category
version: 9.0

**Steps to reproduce**
- Download the module. Unzip contents into the [odoo_path]/addons/ directory.

**Current behavior**
Not able to see the module in my install-able app list in my OdooErp.

**Expected behavior**
Module show up on the Apps list and be able to install this module into my OdooErp or able to add multiple categories on a product.

Sorry,

[2016-04-18 07:42] pedrobaeza commented on #149
This is not for asking for help. It's for reporting issues.

[2016-04-18 07:42] #149 closed, assigned to nobody

[2016-04-26 19:44] pedrobaeza commented on #145
@NL66278, please fix 8.0 branch tests

[2016-04-26 22:08] NL66278 commented on #145
@pedrobaeza I will do. Allow for some time, as I am away from work until sunday.

[2016-04-26 22:13] pedrobaeza commented on #145
OK, sorry. It's just the red branch is choking on each new PR and I come back here when happens.

[2016-05-03 09:57] lukebranch opened #153 "[9.0C] Product Brand - Logo Is not resized in Sales >> Product Brand - displays image in original full-width and height (screenshot attached)"
I've just come across an issue with Product Brand in Odoo 9 (CE).

Steps to reproduce:

1) upload a large picture as a brand image
2) view kanban view in Sales >> Product  Brand

Expected Behaviour:
Logo is resized to the width of the kanban container as a thumbnail or small image.

<img src="https://cloud.githubusercontent.com/assets/2337666/14979991/6dc7880a-1158-11e6-96c0-0dbf0eb2cd1b.png" />

[2016-05-04 19:16] pedrobaeza commented on #126
This should be fixed... although there's another problem

[2016-05-04 19:16] #126 closed, assigned to nobody

[2016-05-04 20:12] pedrobaeza commented on #145
I have fixed the issue directly in the commit https://github.com/OCA/product-attribute/commit/037e77ce2aa6dd110fa7394f790f94108afdb20f, because it was bitten me each time with my current PRs.

[2016-05-04 20:12] #145 closed, assigned to nobody

[2016-05-05 13:27] wredwan opened #154 "Add product brand in sales reporting"
After i reviewed product_brand module, i wish you add product_brand_id to sales analysis dashboard or i wish you tell me how can i do that by myself because it's asked from me.
Thanks

[2016-05-11 12:25] SodexisTeam commented on #100
For info, we are migrating product_sequence.

There seems to be a PR associated with this module but no activity on it(since 10 Nov 2015).
So, we are going to create a new PR.

[2016-05-27 13:38] leemannd commented on #100
Doing the product_dimension in https://github.com/OCA/product-attribute/pull/159

[2016-06-14 09:15] cdasadiya opened #162 "IMP : Add a new src_model attribute on Active Window(more options) for product.brand and product.product model"
module: product_brand
version: 8.0

**Steps to reproduce**
- ...

**Current behavior**
Currently Product Brand Module Having the Logic for View the Following criteria on more options.
1. see the product wise brand (using more options)
2. see the brand wise product (using more options)

Active Window is exist  but scr_model is not exist any more so that more options is right now disable.

**Expecte

[2016-06-23 14:18] flotho commented on #100
Hi,

You could add product dimension : https://github.com/OCA/product-attribute/pull/166

[2016-06-23 14:37] flotho commented on #100
Please also consider this one https://github.com/OCA/product-attribute/pull/167 as WIP

[2016-06-23 15:08] pedrobaeza commented on #100
Why 2 times product_dimension module?

[2016-07-05 08:10] flotho commented on #100
Hi @pedrobaeza :
- My bad for product dimension, I'll fix it, is it also possible to merge the PR #159 which seems good
- I started to split the PR. Please consider this one as https://github.com/OCA/product-attribute/pull/170 as WIP.

[2016-07-05 08:48] flotho commented on #100
@pedrobaeza , please consider https://github.com/OCA/product-attribute/pull/171 as migration of product_custom_attributes only ;-)

[2016-07-05 09:04] flotho commented on #100
hi @pedrobaeza , please consider https://github.com/OCA/product-attribute/pull/172 as the migration of product_categ_only ;-)

[2016-08-03 15:24] yajo commented on #100
Starting with product_custom_info

[2016-08-22 11:09] KaloyanNaumov opened #178 "Product_Brand not installable on v9c"
There is a bug preventing product_brand to be installed. Funny part is that I saw it installing in some cases, but in general, it's failing. Both on fresh DB and on a DB with other modules.

The error is:
`
..... exception stack trace upper part ....

[code]

[2016-08-22 11:24] pedrobaeza commented on #178
You are not using the updated 9.0 version. Please check.

[2016-08-22 11:24] #178 closed, assigned to nobody

[2016-08-22 11:26] lukebranch commented on #178
This is due to the fact the version you've installed on 9.0c is written for 8.0.

Take a look at the version in the 9.0 branch.

[2016-08-22 11:54] KaloyanNaumov commented on #178
You are right, I wasn't using the latest for some (strange) reason. And the PR is merged long ago.

Please excuse me!

[2016-08-22 12:08] KaloyanNaumov commented on #178
Guys, I found out why it happened.

There is a faulty version in the AppStore,
https://www.odoo.com/apps/modules/9.0/product_brand/

that comes from the SerpentCS repo:
https://github.com/JayVora-SerpentCS/SerpentCS_Contributions-v8#9.0

And Odoo's AutoUpdate feature overwritten the one from the OCA branch.
As per Odoo, it's: `Update Product Brand Manager 9.0.0.1 (9.0.1.0.0)`

Better be fixed from

[2016-08-24 15:16] flotho commented on #100
@Yajo , @pedrobaeza , just to be sure, it looks like product_custom_info is a replacement of product_custom_attributes, so, what about product_categ_attributes ? will it be a replacement too or any other recommandation ?

regards

[2016-08-24 15:48] yajo commented on #100
Well, we actually do not use any of both, but given https://github.com/OCA/server-tools/pull/492 provides a great framework for custom information into any model, I think that should be the path. I guess I'm a little biased being the main developer of all the custom_info collection, but I think other modules that need migration should have 1 version (maybe v9) of deprecation (just depend on its *_

[2016-08-24 15:52] pedrobaeza commented on #100
No, @Yajo, OCA's rules forbid to have 2 modules for the same purpose.

@flotho, _product_categ_attributes_ should be adapted to the new system, but it's very easy (a field _custom_info_template_id_ in product.category + onchange on product.product when changing the category for bringing the custom info template).

[2016-08-24 19:29] flotho commented on #100
Hi @pedrobaeza thanks for your answer,
so if I understand well, using the cutom info modules instead of the custom attributes one + a migration for the product_categ_attributes will do the job. am I right?

[2016-08-24 21:01] pedrobaeza commented on #100
Yes, you are

[2016-10-05 22:49] Nkburdick opened #183 "Routes not showing up in profile"
module: product_profile
version: 1.0
branch 8.0

**Steps to reproduce**
- With the fields for profile_default_route_ids incorporated into the code, no routes are showing up on the product profile screen.  Here's the code I have in my product.py for the product_profile_example module (which I modified)

`
from openerp import models, fields

class ProductProfile(models.Model):
    _inherit = 'produc

[2016-10-06 14:05] pedrobaeza opened #184 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] ~~base_custom_attributes~~ : deprecated in 9.0 branch in favor of product_custom_info
- [ ] customer_context_in_product_view
- [ ] partner_custom_attributes
- [ ] product_attribute_multi_type
- [x] product_brand - by @loxamir #191
- [ ] product_catalog_report
- [ ] product_categ_attributes
- [

[2016-10-08 19:40] bealdav commented on #183
Hi Nick

You're right, default behavior without defined form view, is to not display relational fields m2m and o2m.

But it save a lot of time avoiding to build this form.
Personally, I don't use UI to define my profiles but xml data. Then profile_default_route_ids field is available, but yes invisible.
It's a missing part in the documentation in known limitations you're right

Second solution is

[2016-10-12 02:42] lasley opened #185 "RFC: Product Pricelist Qty Tiers"
I am planning a new module to allow easy product pricing for tiered qty. This is technically possible using a Min Quantity, but the items still have to be priced individually.

In order to save some brainpower and keystrokes, I am thinking to add a price computation type to pricelists called "Tiered Price". It will mimic the operation of the "Fix Price" computation, except that the price will auto

[2016-10-12 09:47] pedrobaeza commented on #185
Yeah, it seems something reasonable that you can do hiding some fields and computing them on background

[2016-10-13 04:32] gdgellatly commented on #185
@lasley Lets just hope your min quantity isn't 0.00 (or less than 1 might want checking too).  I'd say their are some small issues to consider with this approach.  Your quantity and price become codependent so in fact future updates become harder.  Consider your example $5.00 for 30 units of X.  Now you decide that actually it should be 50 units as min quantity.  Edit the form you must edit both q

[2016-10-13 04:40] gdgellatly opened #187 "RFC: Product Variant Code Generation"
Hi,

I've got back into dev hard core and looking at variants on v10.  They are still weak and nowhere near v7 product variant multi.  However I can live with it and was looking at how we might do default code generation.

In the past its been with a code generator field stored on the template with a custom parsing algorithm.  Something like TEST[**o.variant_code**].  As a POC, I've had a look at

[2016-10-13 06:21] pedrobaeza commented on #187
We can bring to OCA the module https://github.com/odoomrp/odoomrp-wip/tree/8.0/product_variant_default_code

[2016-10-13 10:58] lasley commented on #185
@gdgellatly - I share your concerns, particularly in the rounding. AFAIK the Odoo solution to price rounding is to also utilize the surcharge to make up the difference. Obviously this is still at the unit level, so that doesn't help us much.

I didn't think about the updates, but you're correct in that regard as well.

We upgraded `web_widget_float_formula` to 9.0 with this intent, but the custome

[2016-10-13 11:09] gdgellatly commented on #185
I've just finished a big v7 effort of applying tax rounding by supplier. If
you look at how v7 and maybe later versions handles round per line vs round
globally it might show you an easier path to handle rounding.

On Thu, 13 Oct 2016 11:59 PM Dave Lasley notifications@github.com wrote:

[2016-10-15 18:20] pedrobaeza commented on #63
Closing as old request

[2016-10-15 18:20] #63 closed, assigned to nobody

[2016-10-15 18:28] pedrobaeza commented on #162
As this a feature request and nobody has made a PR, I close.

[2016-10-15 18:28] #162 closed, assigned to nobody

[2016-10-15 18:28] pedrobaeza commented on #154
As this a feature request and nobody has made a PR, I close.

[2016-10-15 18:28] #154 closed, assigned to nobody

[2016-10-15 18:29] pedrobaeza commented on #153
@JayVora-SerpentCS I assigned you as you were the original author of the module, isn't it?

[2016-10-15 18:29] pedrobaeza commented on #88
As there's no PR for this, I close.

[2016-10-15 18:29] #88 closed, assigned to nobody

[2016-10-15 18:32] pedrobaeza commented on #185
Although the rounding problem is there, it means a step on usability, so maybe it's worth to do it anyway. Look at the workaround we made for a similar problem with prices on packages: https://github.com/OCA/sale-workflow/blob/a0784df06c75325fd717c2f3194252aee9c9e09a/sale_packaging_price/models/product.py#L37

[2016-10-18 15:01] JayVora-SerpentCS commented on #153
We aren't the author,but we will contribute

[2016-10-20 06:23] #153 closed, assigned to JayVora-SerpentCS

[2016-10-20 06:31] JayVora-SerpentCS commented on #153
Thanks, you are so quick!

[2016-10-20 07:19] lukebranch commented on #153
@pedrobaeza @JayVora-SerpentCS ,

Thanks for looking into this! I'll check again with the latest code.

EDIT:
Tested and it works great now, thanks!

FEATURE REQUEST:
The image is still the full-size image, however it has been resized with CSS to 64x64px which works just fine in our case. I can imagine if there were hundreds of brands in there it might be worthwhile utilising the image, image_medi

[2016-10-28 17:01] citruscorp commented on #185
I'm having a headache with the price list for shopping. It exists in Odoo 9? Until version 8 was easy to work with it. They help me with that?

[2016-11-02 02:40] lukebranch opened #197 "[10.0] RFC: product_customer_barcode (extend product_customer_code to include customer barcodes)"
@pedrobaeza ,

I'm planning on creating a new module for my own use and would like to know if a PR would be accepted to the OCA for an extension on the product_customer_code module to add customer barcodes in multiple formats.

The extra fields added to extend product_customer code would be:

<ul>
<li>barcode type/format (eg. EAN13, UPC-A, etc.)</li>
<li>barcode value (eg. EAN13 code)</li>
<li>cus

[2016-11-08 17:29] pedrobaeza commented on #197
Look at https://github.com/OCA/stock-logistics-barcode/pull/49

[2016-11-08 17:29] pedrobaeza commented on #197
and https://github.com/OCA/stock-logistics-barcode/pull/32

[2016-11-09 01:52] lukebranch commented on #197
@pedrobaeza ,

thanks for the suggestions, i've taken a quick look at those PR's.

The scope of my proposed module was simply to allow the storage of a customer's barcode numbers (ie. just the value), and allow for a secondary field to specify which barcode format is being used.

This is useful for manufacturers and distributors that might be required to store a record of customer's own barcode nu

[2016-11-09 02:01] pedrobaeza commented on #197
Well, I don't have a strong opinion then about how to proceed. Any other thought, @legalsylvain or @gurneyalex ?

[2016-11-09 09:52] legalsylvain commented on #197
Hi @lukebranch,

I can not figure out this need. base module provides on 'res.partner' a 'barcode' field. (that is displayed only if point of sale module is installed, but it's a bad design in Odoo Core I think)
https://github.com/odoo/odoo/blob/9.0/openerp/addons/base/res/res_partner.py#L205

Well, OCA/stock-logistics-barcode#49 provides barcode_rule_id field that allows your to mention which pat

[2016-11-11 01:48] lukebranch commented on #197
Hi @legalsylvain ,

Thanks for the comments. In many manufacturing/trading companies in Hong Kong it is necessary to store a record of the company's own internal reference/sku as well as the customer's (at least in our case it is).

For example if I am manufacturing a product on behalf of a customer under their own brand, using their own product packaging, etc. it is necessary to also store and pr

[2016-11-14 14:10] legalsylvain commented on #197
OK. Thanks. I so close this issue for the time being. please feel free to reopen it when you'll have an analysis on the two PR.
kind regards.

[2016-11-14 14:10] #197 closed, assigned to nobody

[2016-11-14 15:05] lukebranch commented on #197
ok, thanks.

[2016-11-16 06:15] lasley opened #205 "RFC: Product Storage Instructions"
We created a [module in vertical-medical that provides a concept of storage instructions for medicaments (products)](https://github.com/laslabs/vertical-medical/tree/release/10.0/medical_medicament_storage).

The module is rudimentary at this point, simply providing a M2M on to relate storage instructions to specific products.

In our v10 iteration we are planning to add a glue module for `stock`,

[2016-11-16 23:37] lasley opened #206 "RFC: Product Service Duration"
This module will add the concept of a service user_id and duration on `product.template`.

The intent is to allow for the creation of services that are (optionally) performed by a certain user & have a standard duration in minutes.

The specific need on my end is to use as part of Physician scheduling functionality, pairing with the calendar module to allow selection of the service that is going t

[2016-11-17 08:05] pedrobaeza commented on #206
For this, you already have as a base https://github.com/OCA/sale-workflow/tree/10.0/sale_start_end_dates, and sale_rental has a similar concept, but it doesn't include yet the scheduling.

[2016-11-17 17:37] lasley commented on #206
Thanks for the suggestion @pedrobaeza - I thought about `sale_start_end_dates` at first, but most of this logic is incompatible with my needs unfortunately. It is focused around dates on sales and invoices, while I need just a float_time on products dictating how long that service generally takes to perform (and possibly a person that performs it).

An example is a Doctor's Office visit, which wil

[2016-11-17 17:47] pedrobaeza commented on #206
I think you should depend on `resource` module and base all your work to think in a load/capacity planner. We have this in our R&D projects, but to be plugged to projects and manufacturing, but the problem is the same: you have several resources (a table, a doctor, an engineer, a workcenter...), and you need it for a time. If it's free, you can lock it for a time slot.

So first of all I would dev

[2016-11-17 18:08] lasley commented on #206
We're totally on the same page now 😄 . Thinking about it even more abstract, this would also allow for the utilization & scheduling of non-human resources without work orders.

Looking at resource, it seems a big missing piece is a link between a resource calendar and an event calendar. Do you know of anything that glues these two modules together?

[2016-11-17 18:16] pedrobaeza commented on #206
The only thing that exists right now is https://github.com/OCA/crm/pull/118.

[2016-11-17 18:39] lasley commented on #206
Thanks @pedrobaeza - much appreciated, as always. I'll keep this RFC open in case anyone else has comments & will likely have a PR submitted here in the next few weeks.

[2016-11-20 00:14] pedrobaeza commented on #206
Odoo is also planning a similar functionality: https://youtu.be/XyHliL_t9xU

[2016-11-20 17:25] lasley commented on #206
Oh neat, that functionality looks similar to Doodle.com. Not quite what I'm going for here though, because a scheduling assistant would be making the appointment immediately against a known calendar vs. sending it to participants to select the time. Any idea where this functionality is (or will be)?

[2016-11-23 04:48] gdgellatly opened #210 "product_size module - Note for porting"
length field will require renaming as per underscore.js bug now linted in mqt.

[2016-11-23 04:52] gdgellatly commented on #210
actually this applies to product_dimension as well - do we really need both modules anyway?

[2016-11-23 07:47] leemannd commented on #210
@gdgellatly Hello, product_size was used/ported only till V7. IMHO it could be removed in the V10.

[2016-12-09 08:45] rubencabrera opened #215 "RFC: Product features"
From a client's request, I'm working on a module to add product features in a particular way:

+ Features and products have a M2M relation.
+ If a template has a feature, all products inherit with exactly the same value.
+ A feature has an image and an alt text.

I've seen a similar development somewhere but can't find it now, so I'm starting from scratch, defining a new model.

Is this the right

[2016-12-09 08:56] pedrobaeza commented on #215
Why don't you use product_multi_image?

[2016-12-09 09:15] lukebranch commented on #215
@rubencabrera ,

Maybe i'm mistaken, but I think the module you're referring to is product_custom_info:

https://github.com/OCA/product-attribute/tree/8.0/product_custom_info

I'm not sure if it covers your exact requirements, however it might be a good start.

I've done a quick and dirty port to version 9.0 and 10.0 for that module and base_custom_info, and can share the code (mostly just view ch

[2016-12-09 09:22] pedrobaeza commented on #215
product_custom_info is already migrated to 9.0: https://github.com/OCA/product-attribute/pull/177

[2016-12-09 10:48] rubencabrera commented on #215
@pedrobaeza I'm already using product_multi_image, but images don't add information about the extra feature.

On the other hand, as @lukebranch said, product_custom_info seems to be on the right track. The only problem is that the user has to manually set a value for the custom property on each product template. Maybe this feature is way too simple for the functionality this module provides.

I'm

[2016-12-09 19:12] lasley commented on #215
@rubencabrera Will the existing product attributes not work? Seems like we're just talking about a Product Template <=> Variant relationship, right? Or are you proposing to apply these attributes at the variant level?

[2016-12-09 19:33] lasley opened #217 "[RFC] Restrict Products to Company"
This module will allow for the assigning of products to specific companies, which doesn't look to be a thing at the moment. There is a `company_id` on product, but I don't see it actually doing anything.

With that in mind, this module will add a `restrict_company_ids` to `product.template`. It will default to all companies that exist, in order to not change the operation of existing products.

An

[2016-12-09 19:49] pedrobaeza commented on #217
Please look at https://github.com/OCA/multi-company/pull/34 :wink:

[2016-12-09 19:50] pedrobaeza commented on #217
I'm repairing .travis.yml for having global matrix for activating runbot in that repo.

[2016-12-09 20:01] lasley commented on #217
Oh well look-y there. Thanks @pedrobaeza!

[2016-12-09 20:01] #217 closed, assigned to nobody

[2016-12-12 07:57] rubencabrera commented on #215
Hi @lasley. Features are set at template level and they are common to every variant. Attributes generate combinations where each variant has only one set of values and the rest are excluded. You can check hte PR #216 to see it.

[2017-01-03 11:23] farazbdm opened #219 "sql constraint stays upon uninstallation unique default code"
module: product_sequence
version: 8.0

**Steps to reproduce**
- Install Module
Uninstall Module

**Current behavior**
sql constraint of uniq default code is added to the product_product_default_code table upon installation.
this sql constraint doesn't gets removed upon uninstallation.

**Expected behavior**
Either module should work without sql constraint or else upon uninstallation the constraint

[2017-01-04 07:56] mehdi-ghezal opened #220 "product dimension not saved in record creation"
**_module:_** product_dimension
**_version:_** 9.0

### Steps to reproduce

- Install module
- Create a new product template with dimension
- Save the product
- Check the dimension

### Current behavior

Product dimension are **not** saved for product template

### Expected behavior

Product dimension **should be** saved for product template

### Reason

Product template use related fields for dim

[2017-01-17 17:16] lasley commented on #185
Closing to track in PR #224

[2017-01-17 17:16] #185 closed, assigned to nobody

[2017-01-18 12:06] pedrobaeza commented on #215
Closing as there's a PR.

[2017-01-18 12:06] #215 closed, assigned to nobody

[2017-01-18 12:07] pedrobaeza commented on #210
Pylint now has a check for this case, so I close.

[2017-01-18 12:07] #210 closed, assigned to nobody

[2017-01-18 12:07] pedrobaeza commented on #187
Closing as it's answered.

[2017-01-18 12:07] #187 closed, assigned to nobody

[2017-01-18 12:08] pedrobaeza commented on #183
Is this solved?

[2017-01-18 12:08] pedrobaeza commented on #205
Should we close this?

[2017-01-18 12:09] pedrobaeza commented on #206
@lasley, any news/PR on this?

[2017-01-18 12:10] pedrobaeza commented on #219
Can you provide a PR with your solution?

[2017-01-18 12:10] pedrobaeza commented on #220
@leemannd, can you check this issue?

[2017-01-18 12:57] leemannd commented on #220
@pedrobaeza Yep. I'm going to check this in the end of the week, beginning of the next one.
EDIT: @pedrobaeza @mehdi-ghezal This [pr](https://github.com/OCA/product-attribute/pull/221/files) from @vrenaville should correct the behavior.

[2017-01-18 13:28] bealdav commented on #183
No and no feedback of @Nkburdick

[2017-01-18 13:35] pedrobaeza commented on #183
Should we close it?

[2017-01-18 13:46] bealdav commented on #183
if no answer of @Nkburdick  in few days, yes

[2017-01-18 17:27] lasley commented on #205
Yup seems like nobody cares. We'll leave it in medical!

[2017-01-18 17:35] lasley commented on #206
We have an internal ticket for dev, but we were waiting on OCA/crm#118 to be finished so that we could use some of the logic there. I went ahead and made a ticket to finish calendar_resource, seems like that's the best course of action.

OCA/crm#118 ticket is now scheduled in our sprint that starts next week, and product_service_duration the following sprint.

[2017-01-18 18:22] pedrobaeza commented on #206
OK, I keep this open then.

[2017-01-19 02:57] lukebranch commented on #205
@lasley @pedrobaeza ,

I only just came across this RFC, however I can definitely see how this would be incredibly useful for food service companies, or perhaps chemical manufacturing companies that may have specific storage requirements. I definitely see this module being very useful outside of the scope of the medical vertical.

I currently have a use case for this module with a food & beverage

[2017-01-19 17:17] lasley commented on #205
@lukebranch - Thanks for the elaboration. This was indeed the use case I was thinking of when I submitted this RFC. Reopening.

I'll tailor & submit the module upstream at some point soon, but feel free to escalate the process by bringing it over yourself 😄  - https://github.com/LasLabs/vertical-medical/tree/release/10.0/medical_medicament_storage

Medicaments are a direct inherit from product, so

[2017-01-20 11:11] lukebranch commented on #205
@lasley,

Thanks for reopening this. I may look into doing this next weekend depending on my schedule.

If I was to make a PR, the module name should be product_storage_instruction right?

[2017-01-20 17:26] lasley commented on #205
@lukebranch - Yup I think that's a good name for it. `product_storage` may hit the intent too & be a little more concise.

[2017-01-20 22:41] lasley opened #225 "[RFC] product_control: Product Regulatory Information"
I was just planning this module for Medical, but realized this could apply to many other things. The intent is to provide specific handling for products that are deemed controlled in some way.

The context in medical is for drugs covered under the US Controlled Substances Act, but this would also boil over into systems such as the UN Classification of Controlled Drugs, Belgium Royal Decrees on nar

[2017-01-25 14:39] simahawk opened #226 "Q: product ean13 field?"
This field has been replaced in odoo with `barcode` but I need both since our customer has internal code (default code = barcode) and an external code (to be used in Prestashop and other external services) that should be just a valid ean13.
Is there any module that add it back? I cannot find anything in this repo.
If no module is ready I can submit one here, if anyone is interested.

[2017-01-25 17:32] lasley commented on #226
Hey @simahawk - Take a look at the [`barcodes_generator_product`](https://github.com/OCA/stock-logistics-barcode/tree/9.0/barcodes_generator_product). It doesn't fully meet your specs of using a different column, but it is insanely easy to add more logic to do so. You can use my [`barcodes_generator_package`](https://github.com/OCA/stock-logistics-barcode/pull/68) as an example of implementation o

[2017-01-25 17:34] lasley commented on #226
Also, have you thought about using the Internal Ref as the internal one, and barcode as external? You could then just implement the barcode generator side of things on the pre-existing column, instead of creating a new one.

[2017-01-27 21:15] lasley opened #227 "[RFC] product_default_image: Default images by category"
This is a fairly simple module that will provide a default image for products, similar to the partner avatars. This image will be configurable on both a global & a product category level.

A view will be added in the Product Configuration menu, which will allow for the configuration of the images and the categories.

The create method of `product.template` will be overridden. If the `image` key is

[2017-01-27 22:06] pedrobaeza commented on #227
Two notes:

* Default image for categories should be set on each category.
* Bring default image on default_get for the product.template model, not on write/create.

[2017-01-27 22:22] lasley commented on #227
Such as in the category form view, instead of a separate view? Yeah that's probably a better direction.

TIL `default_get`. Fully agree.

[2017-01-27 22:25] pedrobaeza commented on #227
That's my idea, yes.

[2017-02-03 08:19] simahawk commented on #226
@lasley hey! :) thanks for the tips (and for noticing me about that cool feature) but that's too much work for just a - in our case - "stupid" char field, I think.

And, yes, we considered using barcode as external but it won't work because they need to scan and print using internal ref so barcode must be equal to ref. Unless you override all the barcode-scan machinery.... but, then, once again...

[2017-02-03 17:28] lasley commented on #226
I was under the impression that all barcode scanning happened against the barcode nomenclatures? As an example, [`barcodes_generator_partner`](https://github.com/OCA/stock-logistics-barcode/tree/9.0/barcodes_generator_partner) adds a new nomenclature type & a new barcode field to a model that didn't previously have it. This should mean that the client is scannable, assuming that the scanner is wor

[2017-02-04 18:28] simahawk commented on #226
@lasley hmm, maybe I am wrong but in a customer project we use enterprise version and the module "stock_barcode" searches products and pickings like this:
[code]
so, `barcode` field is hardcoded :/ and I fear is the same for many other logics.

The real point is: are you telling me that I can use `https://github.com/OCA/stock-logistics-barcode/tree/9.0/stock_scanner` and all related modules to rep

[2017-02-04 23:18] lasley commented on #226
That's the goal, but the web part isn't done - OCA/stock-logistics-barcode#55

I don't have (or want) Enterprise, so I can't comment on how anything there works. Weird that Odoo SA didn't use their own nomenclature type definitions though. They totally relate back to model, and they even relate to the field once the generator modules come into play.

I'd say probably stick with your solution for t

[2017-02-08 11:14] simahawk opened #228 "`product_multi_image` broken if no image is on the template"
**Context:**
* v9
* template with no images, variant with no images

**Issue:**
If you add an image to a variant:
[code]
We miss a safe check here https://github.com/OCA/product-attribute/blob/9.0/product_multi_image/models/product_product.py#L28

[2017-02-08 11:19] pedrobaeza commented on #228
Well, it's supposed that if you have an image, automatically gets the first image also on multi-images, so this is the part we have to check. Why don't you have this first image? Maybe some piece of code that makes it?

[2017-02-08 11:22] simahawk commented on #228
hmm, I don't get this :)

It's pretty easy to replicate:

1. create a product template w/ variants
2. go to one of the variants
3. add an image
4. save => kabooom! :)

So, are we expecting to not be able to add images to variants IF the template has no image? If yes, we should make variant field readonly, otherwise we need to fix that method to write on image_ids only if there's something there or

[2017-02-08 11:26] pedrobaeza commented on #228
Uhm, let me check then. The initial idea is:

* When you add an image on a variant, that image is registered also on the template, but with only that variant allowed.
* When you add an image on the template, all variants get this image, and no variant restriction is applied.
* From template, you can change the variants that are going to use this image.
* From a variant, if you upload again an exis

[2017-02-08 11:34] simahawk commented on #228
That makes sense, the problem is that it's broken because it [tries to write on `product.image_ids[0]`](https://github.com/OCA/product-attribute/blob/9.0/product_multi_image/models/product_product.py#L27) only because `image` is valued. Adding a new image is not taken into account at all.

[2017-02-08 11:34] simahawk commented on #228
@pedrobaeza this is what I mean ;)
https://github.com/OCA/product-attribute/pull/229/files

[2017-02-08 20:58] azeemism opened #230 "[8.0][product_gtin] Some UPC-A barcodes are not verified correctly"
Hi,

After installing product_gtin

![2017-02-08 12_45_58-local modules - erp](https://cloud.githubusercontent.com/assets/10731034/22756671/b7e67c12-edfc-11e6-9a69-c55fdd2bd9a3.png)

I noticed that some barcodes do not work. As an example I used the following UPC-A barcode `623543740440`

![2017-02-08 12_45_12-products - erp](https://cloud.githubusercontent.com/assets/10731034/22756833/50b570b0-ed

[2017-02-08 21:12] azeemism opened #231 "[8.0][product_gtin] Question: Any one have compatability issues with product_multi_ean"
I am curious whether the modules below can be used with `product_gtin`
[code]
https://github.com/OCA/stock-logistics-barcode/tree/8.0/product_multi_ean
https://github.com/OCA/stock-logistics-barcode/tree/8.0/stock_inventory_barcode
https://github.com/OCA/stock-logistics-barcode/tree/8.0

Thanks for your input.

[2017-02-08 23:09] azeemism commented on #231
If both of the following are installed

[code]
I cannot enter a UPC-A Code in the product's "EAN13 Barcode" field. Appears that there is a compatibility issue. If this is something that is possible solve, that would be appreciated.

Thanks for all you do.

[2017-02-08 23:10] azeemism commented on #230
The following error appears in the log file:

[code]

[2017-02-10 01:44] azeemism commented on #230
Here is another UPC-A code that does not work even though the check bit is correct:
`623543742680`

[2017-02-10 01:59] azeemism commented on #231
Here is the log output:
[code]

[code]

If the compatibility issue can be fixed that would be great!

Thanks for all you do.

[2017-02-10 07:37] carrycsf opened #232 "odoo 9 product size option"
module: product_dimension
version: 8.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2017-02-15 19:15] lasley commented on #232
Hi @carrycsf - thank you for the report, but I don't understand the issue. Please elaborate.

[2017-02-15 19:16] lasley commented on #228
@simahawk - Can this be closed now?

[2017-02-16 07:40] simahawk commented on #228
yup!

[2017-02-16 07:40] #228 closed, assigned to nobody

[2017-02-16 17:27] azeemism commented on #230
Here is another UPC-A code that does not work even though the check digit is correct:
623543741560

Verified Check Digit at,
http://www.gs1.org/check-digit-calculator
62354374156

[2017-02-17 07:10] woodbrettm commented on #206
OCA/crm#118 is now superseded by OCA/crm#135

[2017-02-17 16:15] lasley commented on #206
@bmw95 We'll wait to see if @dreispt wants to pick up the changes in his v8 PR before we consider it truly superseded.

There's still another portion of this RFC that hasn't been accomplished yet, so I am still going to leave open.

[2017-03-28 17:57] lasley commented on #227
Closing to track in PR #243

[2017-03-28 17:57] #227 closed, assigned to nobody

[2017-03-31 19:41] lasley commented on #206
Closing to track in #251

[2017-03-31 19:41] #206 closed, assigned to nobody

[2017-04-17 17:40] lasley opened #253 "[RFC] rating_product: Rating system for Products & Variants"
This module will provide ratings for products by using the `rating` module provided by Odoo (v10) core. It will add rating to `product.product`, with another computed rating on the `product.template` containing an aggregate rating for the variants.

It will add a new model `product.rating` will be created that will allow for the abstract scheduling of product rating requests. This will allow for t

[2017-04-20 06:42] gdgellatly opened #256 "[RFC] Breakup/Reorg of product-attribute repo"
Hi all,

Since v8 I've found this repo has become a combination of concepts.  It's initial conception was for adding additional attributes (as in fields) to products, but with v8 and the renaming of dimensions to attributes it was the effective obsolescence of product_variant_multi and therefore the product-variant repo.

I've been working hard to supplement the old features of product_variant_mul

[2017-04-20 07:25] pedrobaeza commented on #256
All the variant/attribute stuff should be in OCA/product-variant IMO.

[2017-05-16 23:18] lasley opened #266 "[9.0][BUG] Failing Travis - Transifex"
Transifex is failing for this repo on the 9.0 branch.

If I'm reading [these results](https://travis-ci.org/OCA/product-attribute/jobs/233034375#L875) correctly, it's failing on demo data inside of core Odoo.

[2017-05-17 10:51] florian-dacosta opened #268 "[RFC] Better smart buttons perfomance on product template form view"
Hello,

Since version 8, I see a recurrent issue for customers with big database, the native product template form view, with all the smarts button sometimes take a very long time to load. (at least for version 8 and 9)
The problem comes from the computation of fields sales_count, purchase_count and mo_count.

I think it would be greate to have 3 small modules to fix this performance issue for ver

[2017-05-18 00:59] gdgellatly commented on #268
Each of these counts is implemented slightly differently.  (Note I'm looking at V10 here, so maybe not in V8)

e.g putting mo_count into SQL won't yield much benefit as it is already using read_group which is pretty efficient anyway.  Same with sales_count except it is running sale.report view first which will suck I imagine.  purchase_count however does not.

So for me step 1 -
make purchase_coun

[2017-06-02 05:33] hermitguo opened #272 "Why not support multiple languages(product.sequence10)"
"The reference must be unique" ,The translation becomes invalid in other languages,
`#. module: product_sequence
#: sql_constraint:product.product:0
msgid "The reference must be unique"
msgstr "内部编号必须唯一"`

[2017-06-03 05:06] nagybal opened #273 "Default unit of Measure: weight (kg)"
Dear All! I would like to request a new feature:

I would like to inventory and manufacture agricultural products. Lets say grain. The products I sell does not have a default weight it varies according the sale order.

My idea for solving this, but correct me if there is a better way: if I set the Unit Of Measure of a product to kg »»» odoo should automatically calculate the weight (kg) of the quo

[2017-06-03 10:48] pedrobaeza commented on #273
Check https://github.com/OCA/product-attribute/tree/9.0/product_dimension for a similar thing, but this is something you have to make on your own or pay someone for doing it, because this is not a feature request/wishlist over a module (that can be added in the README), but a new module requirement.

[2017-06-03 10:48] #273 closed, assigned to nobody

[2017-06-09 00:48] pedrobaeza commented on #266
@sergio-teruel please check. It's about product_pricelist_tax_included.

[2017-06-09 07:25] yajo commented on #184
@pedrobaeza I think you got confused:

#177 is for v9

[2017-06-09 07:26] yajo commented on #100
#177 was merged

[2017-06-09 08:08] pedrobaeza commented on #184
Right, totally. Fixed.

[2017-06-23 13:44] jholze commented on #185
@pedrobaeza Already closed, but i have one question. What is the best way, to use the configurations of packages on a product for tier price handling ? eg. i have a package of 25 coins and for this i want to define a tier price within a pricelist. Thanks, Jens

[2017-06-23 14:15] pedrobaeza commented on #185
The module I mentioned (sale_packaging_price) only allows a direct price, but with no pricelists I'm afraid. You can extend that module for adding support for pricelists, which is going to be a bit weird, or directly add packaging support for pricelists, but the pricelist methods are also not very inheritable, so you have a hard stick here.

[2017-07-20 16:11] ysantiago commented on #184
@pedrobaeza What about module product_supplierinfo_for_customer?

[2017-07-20 18:11] pedrobaeza commented on #184
The module was not in the repository before. When decided what to do, it can be added here.

[2017-07-21 07:03] AaronHForgeFlow commented on #184
@pedrobaeza product_supplierinfo_for_customer_sale depends on product_supplierinfo_for_customer in v8. Thus, I'll wait until we decide.

[2017-07-21 13:28] ysantiago commented on #184
@pedrobaeza @aheficent that is my point about product_supplierinfo_for_customer.

[2017-07-21 13:53] AaronHForgeFlow commented on #184
As discussed here: https://github.com/OCA/product-attribute/pull/236 `product_customer_code` will be deprecated in favour of `product_supplierinfo_for_customer` If nobody else is working on product_supplierinfo_for_customer I will take it.

[2017-07-21 16:35] lasley commented on #184
@aheficent added & tagged you to it

[2017-09-29 14:17] AaronHForgeFlow commented on #184
product_supplierinfo_for_customer - @aheficent #292

[2017-10-03 14:51] pedrobaeza opened #293 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] customer_pricing_in_product_view - By @dsolanki-initos - #745
- [ ] partner_custom_attributes
- [ ] product_attribute_multi_type - By @dsolanki-initos - #741
- [x] product_brand - ~~By @jprobineau - #301~~ By @Daniel-CA - #340
- [ ] product_catalog_report
- [ ] product_categ_attributes
- [ ]

[2017-10-17 02:29] safecoms commented on #184
Hi guys,
we migrated to version 10 the module to print in PDF the price list.
how do we make it available for you in your branch for v10?
Sorry about the question but we are new to this part? I just want to make sure we do it right.

Cheers

[2017-10-17 06:46] pedrobaeza commented on #184
See https://odoo-community.org/page/code and https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0

[2017-10-20 09:05] elicoidal opened #296 "[RFC] Product Customer Code"
Is there any equivalent to https://github.com/OCA/product-attribute/tree/7.0/product_customer_code
in v10/11?

If not we could create a migration of the existing one (or some similar concept)
@pedrobaeza @sebastienbeau

[2017-10-20 13:01] eLBati commented on #296
Hi @elicoidal see https://github.com/OCA/product-attribute/pull/236 and https://github.com/OCA/product-attribute/pull/292

[2017-10-23 03:21] elicoidal commented on #296
thanks @eLBati
Answered=>closing
I will review the PR and test

[2017-10-23 03:21] #296 closed, assigned to nobody

[2017-10-23 12:16] AaronHForgeFlow opened #297 "[RFC][10.0]pricelists based on vendor/customer price"
In Odoo8 it was possible to create pricelist based on the supplier info in the product form. That was used to import the prices in the product form to the SO line. From V9 onwards that option is not available in the pricelist.

The module [product_supplier_info_for_customer](https://github.com/OCA/product-attribute/pull/292) extends the supplier.info model to be used also for customers. Then, when

[2017-10-23 17:19] pedrobaeza commented on #297
product_supplier_info_for_customer indeed can add that option for having another way of defining the pricelists. It can even have at partner level the inverse table putting all the products with their prices.

[2017-10-31 11:38] jprobineau commented on #293
@pedrobaeza :product_brand

[2017-11-06 10:24] gurneyalex commented on #184
I updated the list : base_custom_attributes was dropped in v9, in favor of product_custom_info

[2017-11-21 20:12] tgoetten commented on #297
I would love to get the option back to calculate prices based on vendor (supplier) prices from the inventory (v10) / purchase (v11) table.

[2017-12-11 17:20] JordiADARIA commented on #184
Hi! why not migrate product_attribute_priority to v10? i think it'll be a usefull tool for everybody

[2017-12-11 17:24] pedrobaeza commented on #184
Because nobody has done it yet. You can do it or finance someone to do it if you think it's useful.

[2018-01-02 14:46] fanha99 commented on #100
there are 2 line of product_custom_info in the list

[2018-01-02 14:47] pedrobaeza commented on #100
Extra one removed.

[2018-01-02 14:50] fanha99 commented on #184
going to migrate product_custom_info

[2018-01-02 14:52] pedrobaeza commented on #184
:+1:

[2018-01-30 20:21] max3903 opened #319 "[11.0] product_end_of_life"
This module allows you to set the End of Life Date of a Product.

Products with EoL Date in the past are excluded from the list of Products in Purchase Order so the product can not be ordered.

A scheduled action is created to know in advance the list of products whose EoL Date is approaching.
An email will be sent to the members of the Discussion Channel for Product Eol Notification Group.

# Con

[2018-01-30 20:28] max3903 opened #320 "[11.0] product_firmware_version"
This module allows you to store the latest/official/tested firmware version on an electronic product.

# Usage
- Go to Inventory > Master Data > Products
- Create or edit a product
- Enter the firmware version and save
- Check that the firmware version is saved and can be used to search

[2018-01-30 20:31] max3903 opened #321 "[11.0] stock_production_lot_firmware_version"
This module allows you to store the current firmware version on an serialized electronic item.

# Usage
- Go to Inventory > Master Data > Lot/Serial Numbers
- Create or edit a lot/serial number
- Enter the firmware version and save
- Check that the firmware version is saved and can be used to search

[2018-01-30 20:33] max3903 opened #322 "[11.0] product_priority"
This module allows the user to specify a priority on a product: the higher the number, the lower the priority.
The priority can then be used in other modules for determining which products to use in different scenario.

# Usage
- Go to a Product
- Enter the Priority

[2018-01-31 13:54] bodedra commented on #320
@max3903

PR: #323  is ready for review.

[2018-01-31 14:02] bodedra commented on #321
@max3903

PR: #324 is ready for review.

[2018-02-02 07:31] bodedra commented on #322
@max3903

PR #327 is ready for review.

[2018-02-08 17:11] #322 closed, assigned to bodedra

[2018-02-08 17:11] #320 closed, assigned to bodedra

[2018-02-08 17:12] #321 closed, assigned to bodedra

[2018-02-09 14:24] LoisRForgeFlow commented on #293
product_manufacturer https://github.com/OCA/product-attribute/pull/329

[2018-02-13 09:51] diezcode opened #330 "product_sequence, unique code not working in odo10 enterprise"
module: product_sequence
version: 10.0 enterprise

**Steps to reproduce**
Install Module
Uninstall Module

**Current behavior**
Can duplicate product and can save product with same default_code as other products.

**Expected behavior**
Should not let you save a product with an **existing default_code**

[2018-02-13 14:33] max3903 commented on #319
In a second version of the module, implement @simahawk suggestions to improve the approaching_** fields handling (See details in #328).

[2018-02-16 16:09] max3903 opened #331 "product_internal_reference_unique & product_internal_reference_mandatory"
# product_internal_reference_unique

This module adds a constraint on the internal reference of the product to make it unique across the database.

# product_internal_reference_mandatory

This module adds a constraint on the internal reference of the product to make it mandatory.

[2018-02-16 16:21] max3903 commented on #331
Ping @agyamuta

[2018-03-16 11:45] Daniel-CA commented on #293
I claim product_brand, looks like that @jprobineau  is not working with it anymore. #340

[2018-03-20 11:20] LoisRForgeFlow commented on #293
product_sequence https://github.com/OCA/product-attribute/pull/341

[2018-03-26 13:40] JonathanNEMRY opened #342 "Product Index Migration"
Hello!
I found the module product_index into this repo but it seems that is was completely forgotten?
Is there another way to index all product price into Odoo?

Many thanks,

-jne

cc @pedrobaeza

[2018-03-26 18:07] pedrobaeza commented on #342
It has been not migrated as it was considered not useful for people. Right now, current indexes are good for most production DBs. If not, changes are done on Postgres/custom modules.

[2018-03-26 18:07] #342 closed, assigned to nobody

[2018-04-10 13:00] asaunier commented on #293
Hi @pedrobaeza
PR #345 proposes to migrate product_state => **merged**

[2018-04-10 16:40] Joaco1980 opened #346 "[11.0] Product Brand Manager"
The dimensions of the brand logos in the Kanban view do not fit
![captura](https://user-images.githubusercontent.com/14363121/38570522-5592748e-3cee-11e8-9670-9c913266473c.jpg)

[2018-04-10 16:45] pedrobaeza commented on #346
This is because there's no max-size defined in the kanban view. Please make a PR adjusting it.

[2018-04-24 18:02] vinclar opened #352 "product_default_image in odoo v10 breaks funcionality"
If this module is installed, you can't create products from sales, stock movements, etc
[code]

After uninstalling the module, funcionality is restored.

[2018-04-24 18:03] pedrobaeza commented on #352
This has nothing to do with the module. It's a deployment problem on your side with workers, proxy and so on.

[2018-04-24 18:03] #352 closed, assigned to nobody

[2018-05-30 16:42] wrhansen opened #354 "[11.0] product_brand logo not showing up in kanban view"
The kanban view of the product_brand page, found by visiting `Sales > Configuration > Product Brands`, is not displaying the brand `logo`. Instead you see the broken image icon.

Here's a screenshot of what it looks like:

![broken-image](https://user-images.githubusercontent.com/1350065/40733635-1f5741aa-6404-11e8-8012-d34b5a7510a8.png)

The odoo backend raises the following error for each image

[2018-05-30 16:44] pedrobaeza commented on #354
Great, waiting for the PR! Next time, it's better to do the PR directly and include the issue report in it.

[2018-05-30 18:59] #354 closed, assigned to nobody

[2018-06-08 12:15] gdgellatly commented on #256
This is done I think

[2018-06-08 12:15] #256 closed, assigned to nobody

[2018-06-13 19:08] antrax131 opened #360 "[11.0] Product Brand Manager. brand names are not displayed in alphabetical order"
The brand names are not displayed in alphabetical order by default

[2018-07-02 23:05] pedrobaeza commented on #360
I agree it's a good improvement, and as easy, I have put it directly in commit 6d5602e4e10237af2c68eb849852a4cbed9123e6

[2018-07-02 23:05] #360 closed, assigned to nobody

[2018-07-12 15:21] HaraldPanten commented on #293
Hi @pedrobaeza

We're going to migrate product_customer_code to V11. But I don't know if product_customer_code has been deprecated in favor of product_customer_code_sale (sale-workflow).

Which one should we work in?

Thanks!

[2018-07-12 15:23] pedrobaeza commented on #293
@HaraldPanten yes, that one has been deprecated in favor of product_supplierinfo_for_customer* family of modules, so you should migrate that one instead. Version 10 of the module is already merged in https://github.com/OCA/product-attribute/tree/10.0/product_supplierinfo_for_customer

[2018-07-12 16:27] HaraldPanten commented on #293
Thank you @pedrobaeza

I'm going to check https://github.com/OCA/product-attribute/tree/10.0/product_supplierinfo_for_customer functionalities

[2018-07-12 22:37] vinclar opened #366 "product_supplierinfo_for_customer Odoo V10.0"
This **very** interesting module destroys the functionality and views of  product_supplierinfo_discount and product_warranty on supplier price list information on the product.

Without module,  you have this view inside product/inventory/suppliers

![image](https://user-images.githubusercontent.com/15079415/42663139-a70219fc-8634-11e8-9e85-d1bdfc9c0af8.png)

With the module product_supplierinfo_fo

[2018-07-13 07:27] HaraldPanten commented on #293
Good morning @pedrobaeza ,

I’ve tested this module https://github.com/OCA/product-attribute/tree/10.0/product_supplierinfo_for_customer but I couldn’t put into practice the casuistry that I was trying to do.

I need to show the product name/code for different partners in the sale order.

In V8, there was an extended functionality for product_supplierinfo_for_customer module that met this need, it

[2018-07-13 07:31] pedrobaeza commented on #293
That module is only the base. You need the module product_supplierinfo_for_customer_sale for what you are saying. See a PR that it's in progress.

[2018-07-22 17:02] vinclar commented on #366
If I disable the created view on the product form
"product.supplierinfo.extended.form"
I got my view back "product.supplierinfo.form.view", and the functionality (discount and warranty) is restored plus the module can uses the supplier price on price lists.
Why do you need to add a new view for this module on the product form?
It doesn't adds any field on supplier price?

Thanks for the module.

[2018-07-23 23:10] vinclar commented on #366
Seems fixed with latest update from the developer

[2018-07-23 23:10] #366 closed, assigned to nobody

[2018-08-22 10:43] ProcessControl-JHF commented on #293
**product_weight** #375

[2018-09-11 10:46] daramousk opened #381 "product_pricelist_fixed_price failing tests"
On 0d09b6e2 and specifically on product_pricelist_fixed_price/tests/test_product_pricelist_fixed_price.py:45 there seems to be an attempt to set the `product.pricelist` type to `purchase` which fails because the `purchase` type is inserted on the `odoo.addons.purchase` module and `product_pricelist_fixed_price` does not depend on it.

Is this a bug as I understand?

[2018-09-11 10:55] pedrobaeza commented on #381
Yes, it seems so

[2018-09-12 12:38] zeroheure commented on #184
product_attribute_priority and product_supplierinfo_revision are missing on the "Modules to migrate" list, on the table in Readme for 10 version and in the git tree for 10.

[2018-09-12 12:41] pedrobaeza commented on #184
@zeroheure they were added to the branch after the 11.0 branch creation. No problem in adding them later when there are PRs.

[2018-09-12 12:45] zeroheure commented on #184
@pedrobaeza thanks, I will try to port them with my little knowledge of Python :)

[2018-09-12 12:59] #381 closed, assigned to nobody

[2018-09-27 00:13] OCA-git-bot opened #389 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] product_assortment - By @rousseldenis - #489
- [x] product_brand - By @ThomasBinsfeld - #390
- [x] product_code_mandatory - By @sudhir-erpharbor - #413
- [x] product_code_unique - By @bizzappdev - #411
- [x] product_cost_security - By @sergio-teruel - #533
- [x] product_dimension - By @rvaly

[2018-11-03 10:51] MiguelMachadoM opened #402 "[V11]product_supplierinfo_for_customer"
I Dont know if a error or not or this changed in V11.

The problem:
If I create a Price List with 2 elements
Element 1: Formula with Partner Prices on the product form
Element 2: Other Price List

I expected that if not found the price of this product for this customer go to the next element based on another Pricelist.

But instead get default sale price of product from on information tab.

Before

[2018-11-03 10:55] pedrobaeza commented on #402
Sorry, this issue tracker is only in English because it has a wider audience. Any way, I haven't migrated that module and can't say about it.

[2018-11-03 11:50] MiguelMachadoM commented on #402
@pedrobaeza  Translated

[2018-11-03 11:55] MiguelMachadoM opened #403 "[V11] product_supplierinfo_for_customer"
@sergio-teruel  @mreficent
Hello
I Dont know if a error or not or this changed in V11.

The problem:
If I create a Price List with 2 elements
Element 1: Formula with Partner Prices on the product form
Element 2: Other Price List

I expected that if not found the price of this product for this customer go to the next element based on another Pricelist.

But instead get default sale price of product

[2018-11-03 12:14] pedrobaeza commented on #402
I have removed my name as this issue tracker is not for me, but for whole OCA. Anyone knowing about it might answer, but not guaranteed.

[2018-11-03 12:15] pedrobaeza commented on #402
You have opened a new issue, so closing again.

[2018-11-03 12:15] #402 closed, assigned to nobody

[2018-11-05 10:53] MiquelRForgeFlow commented on #403
If not exist a product price for the partner pricelist, then the standard price will be taken, it won't go to the next element. I think your problem can be solved by creating another pricelist or putting a product price for that partner. But if you don't want this behavior, feel free to collaborate :)

[2018-11-16 18:21] alexey-pelykh commented on #389
`product_currency` should go here?

[2018-12-03 11:44] alexey-pelykh commented on #389
Any module that allows bulk pricelist items view that needs porting?

[2018-12-04 08:06] alexey-pelykh commented on #389
`product_pricelist_direct_print` #414

[2018-12-04 11:51] AaronHForgeFlow commented on #297
Perhaps https://github.com/OCA/product-attribute/pull/400 is what you need @tgoetten.

BTW That PR was already merged so I will close this Issue. For additional requirements please create another issue.

[2018-12-04 11:51] #297 closed, assigned to nobody

[2018-12-13 16:32] hparfr opened #418 "[10.0] Product_profile no update of explanation"
In the module product_profile, version 10 (no tested again other versions).

If you define profiles in a csv. Then you change the explanation (in csv) and update the module.

- Outcome: the records (product.profile) are not updated.
- Expected: the records (product.profiles) should be updated.

[2018-12-13 16:32] hparfr commented on #418
/ping @bealdav

[2018-12-20 10:47] rousseldenis commented on #184
Will port https://github.com/OCA/sale-workflow/tree/10.0/product_special_type here.

[2018-12-26 06:00] bodedra commented on #319
Ready to close in favour of https://github.com/OCA/product-attribute/pull/328/

[2018-12-26 06:05] bodedra commented on #232
Due to lack of information, we can close these.

[2018-12-26 06:09] bodedra commented on #331
In favour of #333 and #334 , we can close these.

[2018-12-26 11:23] #331 closed, assigned to max3903

[2018-12-26 11:23] #319 closed, assigned to agyamuta

[2018-12-26 11:23] #232 closed, assigned to nobody

[2018-12-29 00:06] emagdalenaC2i commented on #293
@pedrobaeza Please, check product_state - By @asaunier - #345 because it is already merged

product_supplierinfo_for_customer_sale - By @moylop260 - #395 is closed and moved to OCA/sale-workflow. It is already merged OCA/sale-workflow#681

Please, add to the list product_supplierinfo_revision - By @cubells - #348 that is already migrated and merged

[2018-12-29 00:13] emagdalenaC2i commented on #293
Please, add to the list product_template_tags - By @foutoucour - #362

The PR number in product_multi_image - By @FFernandez-PlanetaTIC - #359 is wrong, it should be #358

There is a PR for the migration of product_uom - By @hprasetyou - #351

[2019-01-11 08:09] rousseldenis opened #425 "Delete branch"
@rafaelbn Could you please delete your custom branch on OCA side in this repo? Thanks

[2019-01-11 08:54] pedrobaeza commented on #425
There's #405 with this branch. It was done through GitHub interface, which do this dirty things. Let's finish the PR for removing it.

[2019-01-16 22:16] rafaelbn commented on #425
I have closed https://github.com/OCA/product-attribute/pull/405

I wish someone fix the readme or the module :smile:

[2019-01-16 22:18] rafaelbn commented on #425
You can close issue :smile:

[2019-01-21 04:21] GlenGuan opened #426 "[V12]Product Brand Manager. Odoo Server Error at runbot after click 'sales'"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/.repo_requirements/odoo/odoo/http.py", line 312, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/.repo_requirements/odoo/odoo/tool

[2019-01-21 06:21] pedrobaeza commented on #426
This is not related to the module, but with Odoo. Please update your Odoo code to latest version.

[2019-01-21 06:21] #426 closed, assigned to nobody

[2019-01-21 17:48] GlenGuan commented on #426
The error message shows on runbot.odoo-community.org, is it the latest version? And also, I cannot install it on a fresh installation of Odoo12 with sales module together.

[2019-01-21 20:07] pedrobaeza commented on #426
The fix has been published in Odoo recently (as said, it's not something of `product_brand`, but Odoo itself. If you are using OCB, you have to wait until tomorrow to have the code updated.

[2019-01-25 01:30] GlenGuan commented on #426
Still didn't work after reinstalling the Odoo 12 on Ubuntu 18.04 from Github or Nightly yesterday. Any relating link can be learned more? Thanks.

[2019-01-25 08:20] #425 closed, assigned to nobody

[2019-01-29 17:22] Nikul-Chaudhary commented on #389
@OCA-git-bot product_firmware_version #427

[2019-01-29 17:31] Nikul-Chaudhary commented on #389
@OCA-git-bot product_state #428

[2019-01-29 17:55] Nikul-Chaudhary commented on #389
@OCA-git-bot product_pricelist_supplierinfo #429

[2019-01-29 18:06] Nikul-Chaudhary commented on #389
@OCA-git-bot stock_production_lot_firmware_version #430

[2019-02-04 01:24] walkerblackwell opened #431 "Related Attributes to left and right of each attribute on Product page. - enhancement"
Hello. My name is Walker Blackwell. I've been lurking for a long time and I'm finally bringing the company I work at over to Odoo. We are an e-commerce outfit and have several thousand products. The normal Category/Attribute method is fine but we are trying to stay away from creating thousands of variant products for a few reasons but one is that it's dangerous and clunky and not very easy to modi

[2019-04-04 03:51] kittiu commented on #389
Hi, I am looking to migrate **product_secondary_unit** (also stock-logistics-warehouse/stock_secondary_unit which base of this). But the module is not listed to be migrated here (any reason)?

[2019-04-04 07:51] pedrobaeza commented on #389
Hi @kittiu this is because the module was merge after the branch creation, but don't worry, we can add it manually as I'm going to do now.

[2019-04-26 19:16] tbaden commented on #389
@OCA-git-bot product_weight https://github.com/OCA/product-attribute/pull/449

[2019-05-04 17:07] tbaden opened #452 "Travis Cleanup 10.0"
- [x] product_weight @tbaden https://github.com/OCA/product-attribute/pull/455
- [x] product_default_image @tbaden https://github.com/OCA/product-attribute/pull/456
- [x] product_supplierinfo_for_customer @tbaden https://github.com/OCA/product-attribute/pull/457
- [x] product_brand @tbaden https://github.com/OCA/product-attribute/pull/458
- [x] product_sequence @tbaden https://github.com/OCA/produ

[2019-05-04 17:08] tbaden commented on #452
************* Module product_weight
product_weight/wizard/product_weight_update_view.xml:8: [W7910(wrong-tabs-instead-of-spaces), ]  Use wrong tabs indentation instead of four spaces
product_weight/wizard/product_weight_update_view.xml:9: [W7910(wrong-tabs-instead-of-spaces), ]  Use wrong tabs indentation instead of four spaces
product_weight/wizard/product_weight_update_view.xml:10: [W7910(wrong-

[2019-05-04 17:12] tbaden opened #453 "Travis Cleanup 11.0"
- [x] product_pricelist_direct_print @tbaden https://github.com/OCA/product-attribute/pull/462
- [x] product_weight @tbaden https://github.com/OCA/product-attribute/pull/463
- [x] product_weight_through_uom @tbaden https://github.com/OCA/product-attribute/pull/464
- [x] product_supplierinfo_for_customer @tbaden https://github.com/OCA/product-attribute/pull/465
- [x] product_brand @tbaden https://g

[2019-05-04 17:12] tbaden commented on #453
************ Module product_pricelist_direct_print.tests.__init__
product_pricelist_direct_print/tests/__init__.py:1: [C8202(unnecessary-utf8-coding-comment), ] UTF-8 coding is not necessary
************* Module product_weight
product_weight/wizard/product_weight_update_view.xml:1: [W7908(missing-newline-extrafiles), ]  Missing newline
product_weight/wizard/product_weight_update_view.xml:8: [W7910

[2019-05-04 17:21] hugho-ad opened #454 "[12.0] product_supplierinfo_for_customer"
As Described at https://github.com/OCA/sale-workflow/issues/737, this module has some  inconsistencies of behavior across all the version down

I would like to migrate it to v12.0 so please let me your comments.

My notes:
- This module should move the domain at name field on `product.supplierinfor` to the model view, in order to search customers on the name field when trying to add a record on Cu

[2019-05-04 17:22] hugho-ad commented on #454
cc: @pedrobaeza , @rafaelbn , @moylop260

[2019-05-04 17:29] hugho-ad commented on #454
FYI https://github.com/Vauxoo/product-attribute/pull/11

[2019-05-04 17:31] hugho-ad commented on #389
@pedrobaeza
Your comments are welcome at https://github.com/OCA/product-attribute/issues/454
It's about product_supplierinfo_for_customer module.

MIG product_supplierinfo_for_customer v12.0 https://github.com/Vauxoo/product-attribute/pull/11

Regards!

[2019-05-05 08:56] #453 closed, assigned to nobody

[2019-05-05 22:57] #452 closed, assigned to nobody

[2019-05-10 19:06] hugho-ad opened #473 "[11.0] product_supplierinfo_for_customer: Can't load data for variant_customers_ids field, it's loaded at wrong fields"
[11.0]

- Try to load data for field variant_customer_ids:
 Demo data https://gist.github.com/hugho-ad/4eed55439303fb4fb33c0c0ff53df198
![image](https://user-images.githubusercontent.com/10233975/57550664-9fe74580-732c-11e9-8f5b-6d7c21e90f86.png)

Current behavior:

Data being loaded at variant_supplier_ids and  supplier_ids field but never at variant_customer_ids

![image](https://user-images.git

[2019-05-16 11:37] usmanfarzandali opened #475 "psycopg2.ProgrammingError: column sale_report.product_brand_id does not exist"

[2019-05-16 12:20] pedrobaeza commented on #475
Version? Steps to reproduce? Closing meanwhile, as it seems a bad deployment (have you restarted your Odoo service + update module).

[2019-05-16 12:20] #475 closed, assigned to nobody

[2019-05-16 13:10] andreampiovesana opened #476 "product_state [11.0] 'application': True, is better to change to False"
It is NOT an application right?

[2019-05-16 13:36] tbaden commented on #476
@andreampiovesana  No it's not. It seems this tag is there since the very beginning of this module. Would you like to create a PR, otherwise I'll create one.

edit:
created PR: https://github.com/OCA/product-attribute/pull/477

[2019-05-16 15:24] #476 closed, assigned to tbaden

[2019-05-17 14:17] enricostano opened #478 "Pypi information out of date"
The Pypi [package](https://pypi.org/project/odoo11-addon-product-pricelist-supplierinfo/) for `product-pricelist-supplierinfo` has some information that is wrong or out of date.

 - Homepage points to https://github.com/OCA/sale-workflow instead of this repo
 - Statistics are related to the wrong repo. I guess related tothe previous point

This issue makes it difficult to find the source code from

[2019-05-17 14:28] pedrobaeza commented on #478
Fixed in c4d82fbdb88e2419884b03a5e2d477d09a685a46.

Will be propagated to PyPi soon.

[2019-05-17 14:28] #478 closed, assigned to nobody

[2019-05-17 17:42] enricostano commented on #478
Cool, thanks! Now that I know where to look at I will open a PR next time.

[2019-05-20 16:37] tbaden commented on #389
@OCA-git-bot product_end_of_life https://github.com/OCA/product-attribute/pull/479

[2019-05-25 16:02] ovnicraft commented on #272
There is no update here, so close it.

[2019-05-25 16:08] #272 closed, assigned to nobody

[2019-05-26 01:56] ovnicraft commented on #226
No updates here and Q as i read was solved, close it please.

[2019-05-26 01:58] ovnicraft commented on #330
I cant reproduce your issue, tested with latest rev.

Longer time here, close it please.

[2019-05-26 01:58] ovnicraft commented on #183
Close it please @pedrobaeza

[2019-05-26 09:09] #226 closed, assigned to nobody

[2019-05-26 09:09] #330 closed, assigned to nobody

[2019-05-26 09:09] #183 closed, assigned to nobody

[2019-05-28 07:35] geniustaha opened #487 "Clicking "Test Import" adds sequence numbers and leads to wrong sequences"
Bug:
When we are importing products in bulk, if we click on the button test import, it updates the sequence numbers. (Even if we dont upload the sheet.)
How to reproduce:
1. Go to product Import.
2. Upload the sheet.
3. Click on Test Import Button.

Suppose there were 10 products of a certain category, the sequence number jumps by 10. Suppose there were 4 products, it jumps by 4.
Suppose if we pre

[2019-05-28 15:45] pedrobaeza commented on #487
Module? Version?

[2019-06-01 18:35] emagdalenaC2i opened #488 "Patch branch"
@rafaelbn I think that this branch https://github.com/OCA/product-attribute/tree/rafaelbn-patch-1 shouldn't be here

[2019-06-01 18:38] emagdalenaC2i commented on #293
Please, check product_uom - By @hprasetyou - #351 By @mreficent - #423 that was renamed as product_uom_extra_data and moved to OCA/community-data-files https://github.com/OCA/community-data-files/pull/54 that is already merged

[2019-06-01 18:47] emagdalenaC2i commented on #389
Please, add to the list product_dimension - By @rvalyi - #485

Please, add the PR number in product_supplierinfo_for_customer - By @renatonlima - #446

[2019-06-02 21:12] pedrobaeza commented on #488
Deleted.

[2019-06-02 21:12] #488 closed, assigned to nobody

[2019-06-03 13:16] rousseldenis commented on #389
Will migrate product_assortment to v12

[2019-06-06 09:15] geniustaha commented on #487
**Sorry. I clicked the link and was directed to this page:**
https://apps.odoo.com/apps/modules/11.0/product_sequence/#bug-tracker
Module: Product Sequence
Version: 11

[2019-06-06 09:16] pedrobaeza commented on #487
OK, understood, but this is not a problem of the module, but Odoo not unrolling that in their test import feature.

[2019-06-06 09:16] #487 closed, assigned to nobody

[2019-06-06 12:07] geniustaha commented on #487
Ok sir. Understood.
Can you please guide how I can detect if Test import is clicked or import. I can add that to differentiate.
Also, if you can guide on how to unroll that sequence number, that will be great.
Thanks.

[2019-06-06 12:09] pedrobaeza commented on #487
No clue. I think you should add an issue on odoo/odoo about that.

[2019-06-06 12:24] geniustaha commented on #487
Done:
https://github.com/odoo/odoo/issues/33950

[2019-07-03 03:40] Complexart opened #492 "product_sequence not compatible to be use with product variant."
module: product_sequence
version: 8.0

**Steps to reproduce**
- after creating product template, adding variant will lead to:

     Constraint Error,The reference must be unique

**Current behavior**

**Expected behavior** product variant should be added and product code should update to work with the product variant code builder. eg. Pr00015CDA

[2019-08-26 13:28] patel1008b commented on #293
Anyone had done **product_lot_foundry** migration? It is required in the foundry industry. Please let me know if someone had a module in v11 or v12.

[2019-08-26 13:47] pedrobaeza commented on #293
Not at least notified here.

[2019-09-03 14:31] FFernandez-PlanetaTIC commented on #293
`product_multi_image` in #358 by @qtheuret, not me

[2019-09-03 14:33] FFernandez-PlanetaTIC commented on #389
`product_multi_image` by @shepilov-vladislav in #497

[2019-09-04 23:56] rafaelbn commented on #454
This is already migrated here @hugho-ad https://github.com/OCA/product-attribute/pull/446 Maybe you can review

[2019-09-05 00:24] rafaelbn commented on #293
As commented in the PR, product_multi_image is not needed any more, Odoo has it by default from v11

![2019-09-05_2-20-28](https://user-images.githubusercontent.com/8736623/64302571-44e4f880-cf84-11e9-8458-161d5edcb6c7.png)

[2019-09-05 00:24] rafaelbn commented on #389
As commented in the PR, product_multi_image is not needed any more, Odoo has it by default from v11

![2019-09-05_2-20-28](https://user-images.githubusercontent.com/8736623/64302571-44e4f880-cf84-11e9-8458-161d5edcb6c7.png)

[2019-09-05 00:45] pedrobaeza commented on #389
Not really, it doesn't contain some of the modes: by URL for example.

[2019-09-06 14:37] FFernandez-PlanetaTIC commented on #293
See https://github.com/OCA/product-attribute/pull/358#issuecomment-528880199

[2019-09-06 14:37] FFernandez-PlanetaTIC commented on #389
See https://github.com/OCA/product-attribute/pull/358#issuecomment-528880199

[2019-09-19 07:01] joergfederspiel opened #503 "[10.0] [product_supplierinfo_for_customer] Typo and wrong value in context"
In module "product_supplierinfo_for_customer" there is a typo and a wrong value in context for menu "Partner Pricelists"

Original code from product_view.xml:

[code]

Should look like this:

[code]

[2019-09-19 07:13] pedrobaeza commented on #503
What is the typo? Why current id to be put on product_tmpl_id is a problem?

[2019-09-19 07:27] joergfederspiel commented on #503
The typo is the missing apostrophe before "visible_product_tmpl_id':False".

With the entry "default_product_tmpl_id':id" get the following error message when calling the view from menu "Partner Pricelists" in Purchases.
Where does the ID come from when calling the list view?

![Error - Partner Pricelist - Purchases](https://user-images.githubusercontent.com/4254810/65222584-b3b36d00-dabf-11e9-8ea

[2019-09-19 07:34] pedrobaeza commented on #503
OK, I see. Please make a PR fixing both things

[2019-09-23 14:40] dreispt opened #506 "[RFC] Product Documentation"
The goal is to add the matching product documentation when a quotation is send by email. The documentation (PDF) files should be attached by default to the Send Quotation By Email form depending the products in the Sale Order Lines.

Documentation should defined by language, country (none for all), product category or product.

[2019-09-23 14:49] pedrobaeza commented on #506
I would say this should be something in OCA/sale-workflow, and includes attachments link to the products in the quotation, so no extra data is needed to be setup. This might limit what to upload to the product record, but it's not normal to upload any other things.

[2019-09-23 14:57] dreispt commented on #506
Using Product attachments is a possibility, but it's less featured: relies on "user conventions" and it's easier to misuse.
I would like the user to be able to manage the documentation history, and be able to select the particular documents "active" (to automatically attach to SOs).

I hesitate in proposing this here or in oca/sale-worklow.
Maybe split it into two modules: one for documentation an

[2019-09-23 15:01] pedrobaeza commented on #506
Yes, then 2 modules should be: one for putting that information on product to be hosted here, and another for attaching that information in the quotation mail in OCA/sale-workflow.

[2019-09-29 21:43] OCA-git-bot opened #508 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] base_product_mass_addition - By @phuctranerp - #578
- [x] packaging_uom - By @HviorForgeFlow - #571
- [x] product_assortment - By @Laurent-Corron - #517
- [x] product_bom_revision - By @emagdalenaC2i - #617
- [x] product_brand - By @smurf-U - OCA/brand#11
- [x] product_code_unique - By @rven

[2019-10-01 07:55] rven commented on #508
Working on migration of product_code_unique https://github.com/OCA/product-attribute/pull/510

[2019-10-01 12:37] yuriqp commented on #508
Working on migration of product_brand

[2019-10-01 17:01] Nikul-Chaudhary commented on #508
@OCA-git-bot product_state -> #512

[2019-10-01 17:10] Nikul-Chaudhary commented on #508
@OCA-git-bot stock_production_lot_firmware_version -> #513

[2019-10-15 14:36] smurf-U commented on #508
https://github.com/OCA/product-attribute/pull/516 -> product_brand
(Move it in OCA/brand)
https://github.com/OCA/brand/pull/11 -> product_brand

[2019-10-21 09:39] Laurent-Corron commented on #508
working on product_assortment #517

[2019-11-20 17:27] max3903 opened #528 "[RFC] product_secondary_expense_account"
With the anglo-saxon accounting, the same product can sometimes be expensed and sometimes considered a cost of goods sold.

This module adds a secondary expense account on the product category and product to set the expense account and keep the original one for the COGS account.

# Usage

* Go to Product Categories (in Inventory or Accounting)
* Create or select a product category
* Set the second

[2019-11-20 18:44] legalsylvain commented on #528
Make sense. LGTM.

Note : i'd like to have a _get_primary_expense_account in odoo core, to avoid copy past, and allow overload.

Regards.

[2019-11-26 04:26] usmanfarzandali commented on #508
my work is done for product_brand may i create pull request for it ?

[2019-11-29 14:56] sergio-teruel commented on #389
@OCA-git-bot product_cost_security https://github.com/OCA/product-attribute/pull/533

[2019-12-07 11:57] zeroheure opened #535 "[10.0] product_multi_images deleted pictures still visible product.product and website"
In some hard to reproduce cases, one or two images deleted from product template form are still visible on website e-commerce product page and on product.product form. Those images **can't be deleted**, they come back forever.

However there is a workaround : export the product.product images data, clean the fields and import back.

[2019-12-07 15:15] pedrobaeza commented on #535
Unless you have clear steps to reproduce the problem, it's not going to be possible to fix the possible problem...

[2019-12-07 19:09] zeroheure commented on #535
I know. But reporting the workaround can help others :-)

[2019-12-19 10:30] ps-tubtim commented on #508
Working on migration of product_multi_category https://github.com/OCA/product-attribute/pull/541

[2019-12-23 01:59] ps-tubtim commented on #508
Working on migration of product_template_tags https://github.com/OCA/product-attribute/pull/542

[2020-01-06 14:46] kevinkhao commented on #389
product_profile #546
product_profile_example #547

[2020-01-07 12:39] kevinkhao commented on #389
product_variant_inactive #548

[2020-01-10 23:28] Moto017 opened #554 "[12] Product_weight calculation does not account for BOM Quanitity"
Product1 BOM sets quantity at 10 units of Product
Component 1 = 1 kg
Component 2 = 1 kg
Total Product1 weight calculated 1+1 = 2 kg

Hack would include creating BOM only with 1 unit, but does not work with large scale batches

Expected calculation:
component weight (1+1) / Produced Quantity (10) = 0.2 kg

Downstream effect:
Delivery product weights are calculating per uom basis.

[2020-01-19 00:07] mahmoudmk1 opened #556 "error while opening Pos session"
module: product_cost_security
version: 12.0

**Steps to reproduce**
- Dear Sir, I tested this module on my database and your demo server also, but I got this message every time I tried to open **PoS** session. only when I restrict user from cost feature?

 Traceback (most recent call last): File "/.repo_requirements/odoo/odoo/http.py", line 656, in _handle_exception return super(JsonRequest, self)

[2020-01-19 11:14] mahmoudmk1 opened #557 "wrong output"
module: product_pricelist_supplierinfo
version: 12.0

**Steps to reproduce**
- ...

**Current behavior**
the new price is based on public price!
**Expected behavior**
the new price should be based on supplier price.

[2020-01-19 11:30] #557 closed, assigned to nobody

[2020-01-19 11:31] mahmoudmk1 commented on #557
it’s my mistake thanks

[2020-02-03 19:44] sergio-teruel commented on #508
product_pricelist_direct_print https://github.com/OCA/product-attribute/pull/562
product_pricelist_revision https://github.com/OCA/product-attribute/pull/563

[2020-02-10 09:54] ghost commented on #556
hi
cause POS user must access standard_price field , and (product_cost_security) module restrict the access to standard_price to only "Access to product costs" group users.
so either :
- Assign the user to "access to product costs" group.
- Uninstall the module.

[2020-02-19 06:10] emagdalenaC2i commented on #508
@OCA/product-maintainers Please, check:
product_assortment - By @Laurent-Corron - #517
product_manufacturer - By @guewen - #538
product_restricted_type - By @AdriaGForgeFlow - #543
product_template_tags - By @ps-tubtim - #542

[2020-02-19 06:29] emagdalenaC2i commented on #389
@OCA/product-maintainers Please, check:
product_assortment - By @rousseldenis - #489
product_priority - By @sudhir-erpharbor - #417
product_sequence - By @sudhir-erpharbor - #416 Superseed By @Tardo - #507
product_template_tags - By @hegenator - #434 Superseed By @patrickrwilson  - #448

[2020-02-19 06:35] rousseldenis commented on #389
What do you mean? They are merged

[2020-02-19 06:52] emagdalenaC2i commented on #389
Of course they are, some in July 2019, but still not marked on the list

[2020-02-19 07:46] rousseldenis commented on #389
Yeah, I didn't understand what you wanted :smile:

[2020-02-20 10:35] emagdalenaC2i commented on #389
@rousseldenis I have requested to join the @OCA/product-maintainers team but it would be better if someone with more experience like you does. Would you be interested?

[2020-02-20 10:41] rousseldenis commented on #389
Indeed, that PSC has just one member active, it can be good to dig it to life (a work is ongoing on OCA Board level to make PSC more active)!
I have already some repositories but it could make sense to have this one too.
We can go both if you want.

[2020-02-20 11:09] emagdalenaC2i commented on #389
I have only requested to join to unlock the pending issues in the repository.
I can help, of course, but I am not an expert in programming at Odoo. I am an expert in design systems (CAD), in programming on them and in their integration with ERP systems like Odoo.

[2020-02-20 11:40] rousseldenis commented on #389
If you have functional skills, that can be good to help review !

[2020-02-20 12:13] emagdalenaC2i commented on #389
I do, and I have some kind of technical skills too ;-)
I try to follow the rule of review 3 or more PR each time I create a migration PR or a new module PR.

[2020-02-20 12:24] rousseldenis commented on #389
If your requested through github interface, I think you won't receive any answer. The channel to ask joining PSC is through the mailing list 'contributors at odoo-community.org' (I didn't find a mail from you). Usually, put a link to your github profile or PR's you did on product repo.

[2020-02-20 12:37] emagdalenaC2i commented on #389
If you're going to propose yourself, it's fine for me.
I honestly believe that I don't have enough technical capacity for it. Of course, there are many things I can contribute, and I do. But I think it can annoy other OCA members

PD: You can find my email is in my Github profile

[2020-02-25 07:53] phuctranfxvn commented on #508
Working on base_product_mass_addition #578

[2020-02-27 14:09] emagdalenaC2i commented on #389
@rousseldenis Did you promote yourself as a PSC?

[2020-02-27 22:27] emagdalenaC2i commented on #508
@simahawk could you edit this issue, please?
There are also  some chages in the issue migration to version 12.0 and a lot of PR  ready to merge in this repo

[2020-02-28 06:58] simahawk commented on #389
@emagdalenaC2i just write an email to `contributors <at> odoo-community.org` saying "Proposing myself as PSC member of ...".
We are always looking for functional people to help.
IF you do a review and your not confident about technical details just state it clear your review and ask for help if nobody joined yet :wink:

[2020-02-28 09:25] emagdalenaC2i commented on #389
Ok, thanks

[2020-03-01 15:25] emagdalenaC2i commented on #389
@simahawk and @rousseldenis I have sent the email proposing myself as PSC. You can vote if it seems good to you

[2020-03-02 07:53] rousseldenis commented on #389
@emagdalenaC2i Of course. Was on holidays...

[2020-03-06 11:36] emagdalenaC2i opened #584 "product_dimension Rename field length --> product_length"
There is a warning in Travis for product_dimension in v12:

************* Module product_dimension.models.product
product_dimension/models/product.py:22: [W8105(attribute-deprecated), Product] attribute "length" deprecated
product_dimension/models/product.py:72: [W8105(attribute-deprecated), ProductTemplate] attribute "length" deprecated

Should this field be renamed to product_length?
Should be a

[2020-03-06 14:25] legalsylvain commented on #584
👍

[2020-03-08 10:25] qzmxs opened #588 "[12.0] product_secondary_unit: ststinfo Off-frame"
module: product_secondary_unit
version: 12.0

**Steps to reproduce**
- ...
![image](https://user-images.githubusercontent.com/55458897/76160983-d74f9a00-6169-11ea-8d2d-6b0fda743e05.png)

**Current behavior**

**Expected behavior**

[2020-04-16 12:43] elmar-hardenack commented on #508
Hi there, are there any plans to migrate the "product_weight"-calculation to V13? Thanks.

[2020-05-07 06:33] marcelsavegnago opened #610 "[12.0] product_pricelist_supplierinfo - Change uom in sale.order.line"
When i change unit of measure on sale.order.line the unit price don'ts conversion. It's normal ?

![image](https://user-images.githubusercontent.com/3595132/81261674-daa0be00-9012-11ea-966c-137815af3a44.png)

[2020-05-07 06:41] rousseldenis commented on #610
@cubells @pedrobaeza @Nikul-Chaudhary Do you have an advice ?

[2020-05-07 07:03] pedrobaeza commented on #610
If you select that product and UoM on purchase orders, is the second price used (put a different one for testing)?

[2020-05-07 17:21] marcelsavegnago commented on #610
@pedrobaeza Like this ?

![image](https://user-images.githubusercontent.com/3595132/81324563-87a82480-906d-11ea-98c2-01fedd24823f.png)

![image](https://user-images.githubusercontent.com/3595132/81324666-ad352e00-906d-11ea-8f55-7ef61cc34cf8.png)

![image](https://user-images.githubusercontent.com/3595132/81324463-65aea200-906d-11ea-8ab2-5c7adc9f7986.png)

[2020-05-07 17:23] pedrobaeza commented on #610
No, I was talking about using the same product with both product.supplierinfo in a purchase order to see if standard selects second line with that UoM.

[2020-05-07 18:12] marcelsavegnago commented on #610
@pedrobaeza

- I created a new product
- I configured the supplierinfo (supplierinfo only one uom)
- I created a PO with 2 lines the same product and with different unit of measure.

The price is compute correctly.

![image](https://user-images.githubusercontent.com/3595132/81328877-02743e00-9074-11ea-813a-ade97aa28776.png)

![image](https://user-images.githubusercontent.com/3595132/81328807-e8d2f

[2020-05-07 18:14] pedrobaeza commented on #610
OK, my confusion comes from thinking that in the first screenshot you was showing product.supplierinfo, not sales order lines. I will check and tell you back...

[2020-05-07 18:18] marcelsavegnago commented on #610
Ok.. :) Thanks

[2020-05-12 17:05] dirceubb opened #612 "Product Brand for 13.0"
when i try to install product_brand module on odoo 13.0 community i get this message:

``module 'odoo.api' has no attribute 'multi'`
`can i fix this myself, or are you planning to release this module for 13 version anytime soon?
regards
@OCA-git-bot

[2020-05-12 17:16] pedrobaeza commented on #612
The module is here: https://github.com/OCA/brand/tree/13.0/product_brand

[2020-05-12 17:16] #612 closed, assigned to nobody

[2020-05-12 17:23] dirceubb commented on #612
thanks a lot

[2020-05-24 05:57] tonygalmiche commented on #508
Thanks in advance for the update:

- packaging_uom : https://github.com/OCA/product-attribute/pull/571
- product_supplierinfo_revision : https://github.com/OCA/product-attribute/pull/619
- product_weight : https://github.com/OCA/product-attribute/pull/618

[2020-05-25 11:11] zeroheure opened #621 "[WISH] [10.0] [11.0] [12.0] product-brand Brands could be set on product.product instead of product.template"
Might be a very particular case, but who knows ?
On products with variants coming from different suppliers, each variant could have its own brand. But currently brands are set on product.template. Can it be changed to have it on product.product ?

[2020-05-26 14:27] zeroheure commented on #621
As a workaround, I've tweaked the product_variant_template_data (10.0) to set brands on product.product.

[2020-05-30 07:56] feketemihai commented on #508
product_pricelist_brand moved from 13.0 to OCA/brand: https://github.com/OCA/brand/pull/33

[2020-06-07 21:57] #219 closed, assigned to nobody

[2020-06-12 12:17] Mat-moran opened #627 "Different Categories --> Same Sequence"
Hi,

I am trying the module "product_sequence", I have to question/suggestions:

* It is not possible to assign the same sequence to different categories. Is this the normal behaviour? Maybe it is interesting to be able to select an actual sequence already created.
* It should be interesting to be able, also, of use (or heredate) the same sequence for the subcategories.

Thanks for the great job!

[2020-06-15 13:04] zeroheure opened #632 "enhanced product_brand version"
I've made changes in product_brand 10.0 version. Code is ready (I use it). I wonder if it should be shared :
- description is now HTML because it is better for website display and because it allow quick copy-paste from brand owner website, keeping HTML
- new fields : brand owner name, website url and short_description (computed from description)
- many partners

[2020-07-08 15:52] Moto017 opened #648 "product_secondary_unit for Variants"
Use case for different variants with secondary unit.
Should secondary unit be defined on product.product instead of product template?

[2020-07-08 15:56] pedrobaeza commented on #648
I don't see that granularity as needed, as you can define several secondary units in template.

[2020-07-08 16:04] Moto017 commented on #648
I see.  The default sale/purchase secondary units should then be on product.product instead of product template

[2020-07-08 16:06] pedrobaeza commented on #648
Yes, that can be changed, but the module for that is `sale_order_secondary_unit`, not this one.

[2020-07-08 16:06] #648 closed, assigned to nobody

[2020-08-20 19:09] joonzapy opened #664 "product_pricelist_supplierinfo - Computed price does not take into account pricelist currency"
I have suppliers prices in two currencies.
In pricelist formula, when I select "Prices based on supplier info" and I make a sale order, the computed price is ok when the pricelist currency and the suplier currency are the same. But when the pricelist currency and the supplier's price currency are different, the computed price are not ok.

[2020-08-24 18:34] JohnnyVM opened #666 "[enhancement][12.0] product_brand add brand filter to attributes filter"
I was writting a small plugging to add a brand filter to \<form class="js_attributes"\>
Its enough interesting to someone for do a PR of this?

[2020-09-18 22:59] #666 closed, assigned to nobody

[2020-09-26 13:27] zeroheure commented on #632
Any comment ?

[2020-09-28 15:26] BT-panken commented on #508
Regarding packaging_uom there is a bug with this code:
https://github.com/OCA/product-attribute/blob/cb7f02b275c72fd1ab3192214620ae6bc11584b7/packaging_uom/models/product_packaging.py#L65

In big companies we often have 2 uom with same factor and category.
So the line 82 return an error as expecting a singleton.

[2020-09-29 05:48] simahawk commented on #508
@BT-panken  please report an issue or - if you can - open directly a PR.

[2020-09-29 06:01] BT-panken opened #687 "[13.0] packaging_uom error when updating qty"
Regarding packaging_uom there is a bug with this code:
https://github.com/OCA/product-attribute/blob/cb7f02b275c72fd1ab3192214620ae6bc11584b7/packaging_uom/models/product_packaging.py#L65

In big companies we often have 2 uom with same factor and category.
So the line 82 return an error as expecting a singleton.

[2020-10-04 10:33] OCA-git-bot opened #697 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] packaging_uom - By @sbejaoui - #861
- [ ] product_assortment - By @watthanun - #724
- [ ] product_barcode_required - By @watthanun - #730
- [x] product_bom_revision - ~~By @emagdalenaC2i - #704~~ By @HviorForgeFlow - #797
- [ ] product_categ_image - By @hailangvn - #862
- [ ] product_categor

[2020-10-13 04:08] emagdalenaC2i commented on #697
product_dimension #699

[2020-10-16 15:59] qgroulard commented on #508
product_multi_price https://github.com/OCA/product-attribute/pull/700

[2020-10-21 21:09] ghost opened #703 "[13.0] product_pricelist_direct_print error on install"
I want to install this module but it has an error (see below)
Are there dependencies that I need to install?

[code]

[2020-10-21 22:12] pedrobaeza commented on #703
It seems you are not using proper version.

[2020-10-21 22:12] #703 closed, assigned to nobody

[2020-10-21 22:26] ghost commented on #703
oh. do I need to checkout a specific branch?

[2020-10-21 22:31] ghost commented on #703
Thank you, that was the issue. Although, your response could have been kinder!

[2020-10-25 20:08] emagdalenaC2i commented on #697
product_bom_revision #704

[2020-10-25 21:04] emagdalenaC2i commented on #697
product_manufacturer #705

[2020-11-10 06:48] watthanun commented on #697
product_code_unique #713

[2020-11-10 15:37] Du-ma commented on #508
Migrating `product_lot_sequence` #714

[2020-11-12 04:53] watthanun commented on #697
product_stock_state #715

[2020-11-16 08:40] watthanun commented on #697
product_code_mandatory #719

[2020-11-27 04:53] watthanun commented on #697
product_cost_security #721

[2020-11-27 04:54] watthanun commented on #697
product_sequence #727

[2020-12-04 10:38] joao-p-marques commented on #697
I will migrate product_pricelist_direct_print

[2020-12-09 08:58] fshah-initos commented on #293
Hello all,

I've migrated module product_custom_info to v11. Here is the PR https://github.com/OCA/product-attribute/pull/740
Here is the PR of base_custom_module https://github.com/OCA/server-tools/pull/1952. (This PR is added as it is dependent on product_custom_info module).

[2020-12-09 11:05] dsolanki-initos commented on #293
Hello all,
I have migrated the module  product_attribute_multi_type and here is the PR #741

[2020-12-11 10:45] dsolanki-initos commented on #293
Hello all,
I have migrated  the module  customer_pricing_in_product_view and here is the PR #745

[2020-12-11 11:33] dsolanki-initos commented on #293
Hello all,
I have migrated the module product_pricelist_tier to v11 and here is the PR #746

[2020-12-11 11:46] dsolanki-initos commented on #293
Hello all,
I have migrated the module product_service_duration and here is the PR #747

[2020-12-11 13:05] dsolanki-initos commented on #293
Hello all,
I have migrated the module product_default_image and here is the PR #749

[2020-12-11 13:17] legalsylvain opened #750 "[RFC] module to propagate "active" value between product variant and template"
Hi all,

here is the need :
in odoo, for products, we have two fields ``active``, one on the ``product.product`` model, one on the ``product.template`` model. There are not link between both fields.
so, it can occures that an active template has only disabled variant but is still visible. So users looking for products will see a product in a view, but not in the other view that is confusing. It fo

[2020-12-14 08:05] grindtildeath commented on #750
HI @legalsylvain

We did report this issue a few weeks ago.

It was actually corrected on 13.0: https://github.com/odoo/odoo/pull/60536
But it seems they couldn't do it for 12.0: https://github.com/odoo/odoo/pull/60648

[2020-12-15 11:09] legalsylvain commented on #750
Thanks @grindtildeath : I added your comment in the DEVELOP.rst section, here :
https://github.com/OCA/product-attribute/pull/752/files#diff-6526aecb539e44c990f1027ca540d81c7a7d22935f237938dcb34f2929816772

BTW, did you tested the module of my PR ?

thanks !

[2020-12-17 12:57] grindtildeath commented on #750
@legalsylvain
No I didn't test, just thought I'd mentioned this here as the scope was quite similar

[2020-12-23 09:32] rousseldenis commented on #346
Fixed by https://github.com/OCA/product-attribute/pull/364

[2020-12-23 09:32] #346 closed, assigned to nobody

[2020-12-26 16:17] phuctranfxvn commented on #697
`product_packaging_type` migrated here https://github.com/OCA/product-attribute/pull/760

[2020-12-29 13:53] sergiocorato opened #761 "Security for product_supplierinfo_for_customer"
Perhaps an additional group to create supplierinfo can be useful? As-is, only `group_system` can create:
https://github.com/OCA/product-attribute/blob/12.0/product_supplierinfo_for_customer/security/ir.model.access.csv#L2

If ok I'll create a PR.

[2020-12-29 14:23] pedrobaeza commented on #761
Yes, it can be useful for not having to install *_sale module, but please provide a migration script for adding system users to such group.

[2020-12-29 14:56] sergiocorato commented on #761
Do you refer to https://github.com/OCA/sale-workflow/tree/12.0/product_supplierinfo_for_customer_sale ? Or others? I don't see other groups.

[2020-12-29 14:59] pedrobaeza commented on #761
Yes, I thought that one included new extra access rules... @carlosdauden @sergio-teruel didn't you add such thing?

[2020-12-29 16:16] sergio-teruel commented on #761
I do not remenber this...

[2020-12-29 16:36] pedrobaeza commented on #761
OK, then it's good to add as well security for salesman on the same row.

[2021-01-12 11:09] hparfr commented on #697
product_weight #768
product_total_weight_from_packaging #765
product_logistics_uom #764

[2021-01-28 08:01] pedrobaeza commented on #610
Should be fixed by #776

[2021-01-28 08:01] #610 closed, assigned to nobody

[2021-02-07 11:24] phuctranfxvn commented on #697
`product_packaging_type_required` migrated in https://github.com/OCA/product-attribute/pull/792

[2021-02-07 15:04] mahmoudmk1 opened #793 "Not compatible with UoM in sale order line"
module: product_multi_price
version: 12.0

**Current behavior**
If I change the UoM for the product sale lines -> the price still be a unit price!!
**Expected behavior**
the price should changes based on the applied UoM.

[2021-02-12 00:36] pedrobaeza commented on #508
We can close this as done.

[2021-02-12 00:36] #389 closed, assigned to nobody

[2021-02-12 00:37] pedrobaeza commented on #761
Fixed in #1432

[2021-02-12 00:37] #761 closed, assigned to nobody

[2021-02-12 08:14] rousseldenis commented on #508
@pedrobaeza Nearly:

![image](https://user-images.githubusercontent.com/19529533/107744159-800b5f80-6d12-11eb-94fd-fa541f93e2e2.png)

Moreover, I don't think we cannot close migration issues as some modules can be added in previous versions and PR for migration after that. So the above list can grow after having generated.

[2021-02-12 08:19] pedrobaeza commented on #508
Yeah, that one is not merged, but the PR is on the way, and the intention is to clear the "dashboard". I don't think we should keep them indefinitely opened for a version with 2 years. If now a "new" module is proposed to be migrated to v12, it's not going to make the difference to add it here. Just do the migration PR.

[2021-02-12 08:21] rousseldenis commented on #508
So why having an issue for migrations...

[2021-02-12 08:27] pedrobaeza commented on #508
It's not the same, as at the beginning, a coordination hub is needed for not duplicating efforts, but nowadays, is there too much probability to collapse several of them at the same time for whatever non listed remaining module?

Anyway, if you feel more comfortable, go ahead and reopen the issue.

[2021-02-12 08:29] rousseldenis commented on #508
The duplication effort can also be done during the main versions whole life. So, for me it's useful to have it yes.

[2021-02-12 11:36] sergio-teruel commented on #588
Fixed here: https://github.com/OCA/stock-logistics-warehouse/pull/1081
versions > 12.0 is not affected
Thanks

[2021-02-12 19:46] #588 closed, assigned to sergio-teruel

[2021-02-13 12:12] legalsylvain opened #798 "[RFC] product.category "type" field"
Hi all,

I recently migrated from 8.0 to 12.0.
regarding the ``product.category``, the field ``type`` disappeared.

it was present in V10 : https://github.com/odoo/odoo/blob/10.0/addons/product/models/product.py#L24
and not in V11 : https://github.com/odoo/odoo/blob/11.0/addons/product/models/product.py#L16

Do you know if there are any module to restore this usefull feature ?

thanks !

[2021-02-13 14:47] dzungtran89 commented on #697
- `product_packaging_unit_price_calculator`: migrated in https://github.com/OCA/product-attribute/pull/801
- `product_template_tags_code`: migrated in https://github.com/OCA/product-attribute/pull/803
- `product_uom_updatable`: migrated in https://github.com/OCA/product-attribute/pull/802
- `product_medical`: migrated in https://github.com/OCA/product-attribute/pull/805

[2021-02-17 10:23] Rad0van commented on #508
product_custom_info #806

[2021-02-19 21:29] zm14 commented on #492
Any news on this?
It will be great if it works with product variants.

[2021-03-31 09:01] droidosergioh commented on #556
Hello,

Is there any solution for this? I do not think it is necesary that a vendor needs to access to the cost price in the POS
Kindest Regards

[2021-05-09 17:45] lillebutik opened #854 "Product State"
It would really make sense to add this feature to variants.

[2021-05-21 11:17] hailangvn commented on #697
product_multi_image: WIP https://github.com/OCA/product-attribute/pull/857

[2021-05-26 12:58] fredzamoabg commented on #697
working on **product_supplierinfo_for_customer** https://github.com/OCA/product-attribute/pull/859

[2021-06-17 22:20] Kev-Roche opened #870 "14.0 New assortement and new product in black/whitelist errors"
With 2 different configurations and 1 fresh installation, we confront 2 errors :
1) Error when creating and saving a new assortment.
2) Error when adding new product in black or whitelist.

Fix proposed in #869

[2021-06-17 22:26] Kev-Roche commented on #870
cc @rousseldenis, @xavier-bouquiaux

[2021-07-22 08:11] andreampiovesana commented on #854
I confirm I need this also.
As example if you have a t-shirt in 20 colors and the color pink is end-of-life you can't set.
You can't set all colors end-of-life!
make the change like in https://github.com/OCA/product-attribute/tree/14.0/product_manufacturer

[2021-08-02 22:45] andres-pcg commented on #556
Hey @sergio-teruel

I'm having same issue. Is there any workaround on this one?

While this module has a very good purpose on increasing security, it's not considering POS escenarios.

cc: @pedrobaeza

[2021-08-02 22:58] pedrobaeza commented on #556
If you want to use this module with pos, you need to develop a glue module for taking this into account. There's no solution in the main module.

[2021-08-03 22:21] andres-pcg commented on #556
@pedrobaeza Understood. That should be addressed on the readme of the module to rise awareness to users, shouldn't it?

[2021-08-04 06:14] pedrobaeza commented on #556
I'm seeing that https://github.com/OCA/product-attribute/tree/14.0/pos_product_cost_security exists.

[2021-08-04 06:14] #556 closed, assigned to nobody

[2021-08-05 01:01] andres-pcg commented on #556
Thank you @pedrobaeza . We are going to do our best to back-port it.

Regards,

[2021-08-31 08:58] ypapouin commented on #697
Please add `product_pricelist_supplierinfo` to the task list

[2021-10-15 14:20] matthew-goulart opened #918 "[13.0] Import error with product_multi_category"
When I try to import product_multi_category in apps -> import module (using the 13 branch and odoo 13) I get the following error:

[code]

[2021-10-15 15:23] pedrobaeza commented on #918
Such option is only for importing data modules. Any other module (most of them), requires to add the module in the addons path. Closing as no problem on the module, but the "deployment" method.

[2021-10-15 15:23] #918 closed, assigned to nobody

[2021-10-17 10:20] OCA-git-bot opened #919 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] base_product_mass_addition - By @angelgarciadelachica - #1283
- [ ] packaging_uom
- [ ] pos_product_cost_security
- [x] product_abc_classification - By @stefan-tecnativa - #1235
- [x] product_abc_classification_sale - By @stefan-tecnativa - #1248
- [x] product_assortment - By @CarlosRoca13 -

[2021-10-21 06:07] sonhd91 commented on #697
Add module `product_status` [#925](https://github.com/OCA/product-attribute/pull/925)

[2021-11-10 12:44] victoralmau commented on #697
`product_pricelist_revision` https://github.com/OCA/product-attribute/pull/939

[2021-11-10 13:41] victoralmau commented on #697
`product_supplierinfo_revision` https://github.com/OCA/product-attribute/pull/940

[2021-11-28 12:11] #100 closed, assigned to nobody

[2021-11-28 12:11] #184 closed, assigned to nobody

[2021-11-28 12:11] #205 closed, assigned to nobody

[2021-11-28 12:11] #220 closed, assigned to nobody

[2021-11-28 12:11] #225 closed, assigned to nobody

[2021-11-28 12:11] #230 closed, assigned to nobody

[2021-11-28 12:11] #231 closed, assigned to nobody

[2021-11-28 12:11] #253 closed, assigned to nobody

[2021-12-05 12:11] #266 closed, assigned to nobody

[2021-12-05 12:11] #268 closed, assigned to nobody

[2021-12-12 12:11] #293 closed, assigned to nobody

[2021-12-16 05:11] celm1990 commented on #919
product_cost_security: https://github.com/OCA/product-attribute/pull/964

[2021-12-16 05:32] celm1990 commented on #919
product_dimension : https://github.com/OCA/product-attribute/pull/965

[2022-01-03 19:03] #454 closed, assigned to nobody

[2022-01-12 12:12] Mantux11 commented on #919
product_manufacturer: #980

[2022-01-16 12:13] #403 closed, assigned to nobody

[2022-01-19 07:56] nedaszilinskas commented on #919
product_code_mandatory: https://github.com/OCA/product-attribute/pull/985

[2022-01-19 09:17] francesco-ooops opened #986 "[14.0] [BUG] product_supplierinfo_for_customer - variant selection not possible"
**Affected versions**:

[14.0]

Steps to reproduce the behavior:

Install module product_supplierinfo_for_customer
Create product with variants
In product: tab Sales > Customers, create a new line > click on "product variant"

CURRENT BEHAVIOR

field “product variant” is not displaying any value

EXPECTED BEHAVIOR

Dropdown should display all possible variants for the product template

[VIDEO](htt

[2022-01-23 12:12] #418 closed, assigned to nobody

[2022-01-23 12:12] #431 closed, assigned to nobody

[2022-01-24 12:47] nedaszilinskas commented on #919
product_code_unique: https://github.com/OCA/product-attribute/pull/995

[2022-01-31 17:13] ghost commented on #919
working on `product_state` #1009

[2022-02-20 12:12] #473 closed, assigned to nobody

[2022-02-24 09:07] andreampiovesana commented on #854
no news?

[2022-02-27 12:13] #492 closed, assigned to nobody

[2022-03-01 15:01] francesco-ooops opened #1026 "[14.0] [BUG] product_supplierinfo_for_customer: only user with "admin: settings" access rights can create or delete records"
## Module
product_supplierinfo_for_customer

## Describe the bug
Only users with "admin: settings" access rights can create or delete records

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1. Login with user without access rights "Administrator: settings" (eg: Marc Demo in runbot)
2. open product template, tab "sales" > table "customer"

**Current behavior**

User c

[2022-03-02 14:21] #1026 closed, assigned to nobody

[2022-03-04 15:13] BT-dmontull commented on #919
migration for:
product_template_tags: [#1029](https://github.com/OCA/product-attribute/pull/1029)
sale_product_template_tags: [#1031](https://github.com/OCA/product-attribute/pull/1031)
Sorry, I repeated the migration beacause there was an error un the PR. I still get the same error.
`ERROR: Could not find a version that satisfies the requirement odoo-addon-product_template_tags<15.1dev,>=15.0dev

[2022-03-06 12:13] #503 closed, assigned to nobody

[2022-03-06 12:13] #506 closed, assigned to nobody

[2022-03-09 15:37] tgrellety commented on #919
missing product_category_active: #1033

[2022-03-13 12:13] #528 closed, assigned to max3903

[2022-03-13 12:13] #535 closed, assigned to nobody

[2022-03-14 04:05] #584 closed, assigned to nobody

[2022-03-14 18:31] Rad0van commented on #919
product_category_code #1036

[2022-03-24 07:54] nguyenhk99 commented on #919
* missing product_form_pricelist: #1043

[2022-03-27 12:13] #554 closed, assigned to nobody

[2022-03-28 15:18] nguyenhk99 commented on #919
* missing product_main_supplierinfo: #1045

[2022-03-30 09:07] francesco-ooops commented on #986
related to issue https://github.com/odoo/odoo/issues/87192

[2022-04-04 07:58] hitrosol opened #1050 "Product Tier Validation"
There is no one.

## Module
product_tier_validation

## Describe the bug
After create the new product, there is no Request Validation button, the States are not clickable

## To Reproduce
Steps to reproduce the behavior:

1. Try in Runboat.
2. Unarchive the tier validation in Settings
3. Create new product
4. The Request validation is not appear. The product status buttons are un-clicable, Normal

[2022-04-12 14:50] nicomacr commented on #919
- product_order_noname: https://github.com/OCA/product-attribute/pull/1044

[2022-04-19 09:09] francesco-ooops commented on #986
@OCA/product-maintainers , any help on how to solve this one?

thanks!

[2022-04-19 14:41] francesco-ooops opened #1057 "[product_assortment] - enhance description/usage with partner features"
**Is your feature request related to a problem?**
Current readme file of module product_assortment is as follows:

I see the module features a "partner domain" and an "apply to partner" feature but it's unclear what could be their use.

**Describe the solution you'd like**
Could the description be enhanced to provide some context about these features?

[2022-04-20 14:34] auso-dynapps opened #1058 "Inactivate product category when delete is no possible"
module: product_category_active
version: 14.0

**Steps to reproduce**
Create a product category
Create a product template within this category
Archive the product template
Try to inactivate the Product category

**Current behavior**
An error message is displayed because there is one product (archived)

**Expected behavior**
Be able to inactivate a product category if there is no active product in

[2022-04-21 09:59] damdam-s commented on #919
* product_seasonality https://github.com/OCA/product-attribute/pull/1061

[2022-04-24 12:14] #621 closed, assigned to nobody

[2022-05-01 12:15] #627 closed, assigned to nobody

[2022-05-06 09:47] flachica commented on #919
* `product_multi_category` #1069

[2022-05-06 10:31] flachica commented on #919
* `product_multi_image` #1070

[2022-05-15 12:18] #632 closed, assigned to nobody

[2022-05-22 12:56] #750 closed, assigned to nobody

[2022-05-25 13:42] flachica commented on #919
* product_net_weigh #1083

[2022-05-29 12:16] #664 closed, assigned to nobody

[2022-05-30 09:58] flachica commented on #919
* product_dimension_volumetric_weight #1084

[2022-06-01 01:10] rolandojduartem commented on #919
Working on product_category_code_unique

[2022-06-12 12:14] #687 closed

[2022-07-01 13:14] ToonBS opened #1095 "After Uninstall product_code_unique"
After Error
uplicate key value violates unique constraint "product_product_default_code_uniq"
DETAIL:  Key (default_code)=(1) already exists.

[2022-07-01 13:26] ToonBS opened #1096 "After uninstall "product_code_unique" Error !"
After uninstall "product_code_unique" Error !

Case recode internal reference = 1 same add 2 master product. And save.

Validation Error
duplicate key value violates unique constraint "product_product_default_code_uniq"
DETAIL:  Key (default_code)=(1) already exists.

![image](https://user-images.githubusercontent.com/79127650/176903720-276340b5-694b-4941-81d9-00bf5ccbdad7.png)

[2022-07-01 13:57] flotho opened #1097 "[14.0]Product multi image failed on variants"
Trying to add multi image on product.product cause the following error :

![image](https://user-images.githubusercontent.com/1043935/176908232-4e91b5ca-ab6a-4bce-819f-c16ee1c77432.png)

## Module

product_multi_image

## Describe the bug

The issue is thrown on this line https://github.com/OCA/product-attribute/blob/14.0/product_multi_image/models/product_product.py#L34 so mostly it could also com

[2022-07-01 14:21] flotho commented on #1097
The image is created and avialble via the dedicated menu in settings but not available via the produt.product menu

[2022-07-01 14:27] saxomanu commented on #1097
Hi! I have the same problem.
I patch by replace https://github.com/OCA/product-attribute/blob/14.0/product_multi_image/models
![image](https://user-images.githubusercontent.com/33661727/176914194-2e69d88b-b85d-48d6-894a-310d0fa4b0a2.png)

by
![image](https://user-images.githubusercontent.com/33661727/176914125-438804ab-e3c3-4fd4-9acf-7c1f585887d8.png)

In fact, with log, product.image_ids[0].image

[2022-07-01 15:43] flotho commented on #1097
Thanks @saxomanu , what's your point of view on this line https://github.com/OCA/product-attribute/blob/14.0/product_multi_image/models/product_product.py#L69
I observed the following situation, when saving the product, here we have an image https://github.com/OCA/product-attribute/blob/14.0/product_multi_image/models/product_product.py#L50 created. AFAICS, the test `False if len(product.image_ids

[2022-07-01 15:44] #1095 closed, assigned to nobody

[2022-07-04 08:08] flotho commented on #1097
Hi @hailangvn , already have this issue ?

[2022-07-05 02:41] hailangvn commented on #1097
Good day @flotho, thanks for logging the issue. Sorry that recently I did not work on this module. Let me find time for this.

[2022-07-07 00:38] desdelinux commented on #919
product_pricelist_supplierinfo missing from the list @pedrobaeza @rousseldenis

[2022-07-07 05:29] rousseldenis commented on #919
This migration issue is generated at one moment from the state of preceding main branch. So, maybe that module was not merged yet at that time. I'll update

[2022-07-13 09:18] gurneyalex opened #1115 "product_supplierinfo_for_customer : incorrect price on sale order"
Incorrect price on sale order when using product_supplierinfo_for_customer

## product_supplierinfo_for_customer

## Describe the bug

When configuring a customers "supplierinfo" the sales price is not used in quotation

## To Reproduce
**Affected versions**: 15.0 (at least)

Steps to reproduce the behavior:
1. on runboat 15.0 branch of this repository, install the sales application
2. edit the pr

[2022-07-13 10:50] pedrobaeza commented on #1115
Maybe the problem is that you are not configuring the pricelist to "Partner Prices on the product form"?

https://github.com/OCA/product-attribute/blob/15.0/product_supplierinfo_for_customer/models/product_pricelist.py#L12

[2022-07-17 12:16] #793 closed, assigned to nobody

[2022-07-18 15:17] dhx commented on #919
- stock_product_template_tags #1118
- purchase_product_template_tags #1119

[2022-07-22 07:47] HekkiMelody opened #1121 "[12.0-13.0-14.0][IMP] product_state: improve security groups?"
**Is your feature request related to a problem?**
https://github.com/OCA/product-attribute/blob/14.0/product_state/security/ir.model.access.csv
Currently, Create Write and Delete permissions are given to `base.group_partner_manager`. That group's name is "Contact Creation" and doesn't seem at all related with managing product states

**Describe the solution you'd like**
I'd suggest changing the se

[2022-07-24 12:16] #798 closed, assigned to nobody

[2022-07-28 00:41] sflems opened #1126 "[15.0][IMP] - product_dimension: Extend product.product_variant_easy_edit_view with variant dimension fields."
**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
Modify `product_view.xml` such that product variant dimensions can be edited directly from the Products > Product (product) >Product Variant views.

**Describe alternatives you've considered**
None. This is an ease of use addition.

**Additional context**
While the dimension fields are visible when editing

[2022-08-26 16:00] ilyasProgrammer opened #1135 "[14.0] product_supplierinfo_group breaks product_supplierinfo_for_customer"
## Module
product_supplierinfo_group

## Describe the bug
- Module breaks "Create customer info" form. All relational fields turns to read only.
- If you force these fields to be editable (edit form and set readonly="0" for all fields) and try to save customer info record, you will get error: ERROR: null value in column "product_tmpl_id" violates not-null constraint

## To Reproduce
**Affected ver

[2022-08-26 16:05] francesco-ooops commented on #1135
@mourad-ehm @kevinkhao @sebastienbeau any suggestions to solve this?

[2022-09-02 19:24] pedrobaeza commented on #986
Fixed in #1138

[2022-09-02 19:24] #986 closed, assigned to nobody

[2022-09-10 10:01] hailangvn commented on #1097
`b'34 KB'` was returned because `bin_size` was True in context so [the branch to compute size](https://github.com/odoo/odoo/blob/7017a8bd9d3f79457c5e80f260c0b2d892abee01/odoo/fields.py#L2035) were activated. The `bin_size` was set in order to get image from `product.product` but was brought forward to `base_multi_image.image`.

Thanks @flotho for [the fix](https://github.com/OCA/product-attribute/

[2022-09-11 12:18] #870 closed, assigned to nobody

[2022-09-16 05:51] karsanpav opened #1147 "Product ABC Classification - Why levels are assigned automatically in descending order when it should be the other way around?"
module: product_abc_classification
version: 13.0

**Steps to reproduce**
- Choose **Percentage** classification type
- Create 3 Levels: **10**/**20**/**70**

**Current behavior**
The assignation of levels is:
A - 70 %
B - 20 %
C - 10 %

**Expected behavior**
The assignation of levels should be:
A - 10 %
B - 20 %
C - 70 %

Or maybe there could be a way to reassign the levels like, change the sequen

[2022-09-16 06:56] pedrobaeza commented on #1147
You usually want to see first the products with more sales than the less important ones, so I think the order is correct.

[2022-09-16 08:00] karsanpav commented on #1147
Thank you, Pedro, I was misunderstanding the percentage classification. It refers to the percentage of sales, not the percentage of references.

[2022-09-16 08:00] #1147 closed, assigned to nobody

[2022-09-17 17:01] flotho commented on #1097
hi,
great thanks for that, we'll give it a try ASAP

[2022-09-20 08:29] BT-mgomez commented on #1121
Hello, I agree on this.
I saw this access right was introduced in v12 and is up to v15.
Is there a way to track this down and someone who will decide on this issues?

Was going to create the same issue, but for v15, then just found this one.

[2022-09-21 13:31] CiroBoxHub commented on #697
Hi everyone, my team start porting of product_pricelist_by_contact
@Vincenzo9191 @DomenicoAP

[2022-09-29 07:26] flachica commented on #919
product_packaging_dimension #1149

[2022-09-29 07:33] flachica commented on #919
product_logistics_uom #1151

[2022-09-29 22:12] legalsylvain opened #1152 "product_pricelist_direct_print : Add new features"
Hi all,

First thanks for the module ``product_pricelist_direct_print``. That's a great module.

I'd like to use this module, but I need extra features :

- the module display the sale price of the product. (ref : [xml](https://github.com/OCA/product-attribute/blob/14.0/product_pricelist_direct_print/views/report_product_pricelist.xml#L92) and [xlsx](https://github.com/OCA/product-attribute/blob/1

[2022-09-30 06:11] chienandalu commented on #1152
Your contributions are allways wellcome @legalsylvain and your proposal looks perfectly reasonable to me :smile: :+1:

[2022-10-02 12:20] #854 closed, assigned to nobody

[2022-10-03 16:26] sbidoul opened #1157 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] packaging_uom - By @gaelTorrecillas - #1399
- [x] pos_product_cost_security - By @chienandalu - #1661
- [x] product_abc_classification - By @rousseldenis - #1192
- [x] product_abc_classification_base - By @rousseldenis - #1192
- [x] product_abc_classification_sale_stock - By @rousseldenis -

[2022-10-28 18:47] legalsylvain commented on #1152
Hi @chienandalu : here is a PR #1177. I'll be glad if you could take a look on it.

Thanks !

[2022-10-30 12:02] bosd commented on #919
product_profile #1180

[2022-10-30 12:19] #508 closed, assigned to nobody

[2022-11-09 12:23] rousseldenis commented on #1157
@MiquelRForgeFlow I will work on product_abc_classification following comments on https://github.com/OCA/product-attribute/pull/781 and try to  make converging.

I will take v10 version as base.

[2022-11-09 12:40] MiquelRForgeFlow commented on #1157
Isn't it better to get as base what is done in v13 and then refactor it in the way is commented in https://github.com/OCA/product-attribute/pull/781? I think this way will be easier to review.

[2022-11-09 12:42] rousseldenis commented on #1157
Mmmh, can try

[2022-11-10 15:51] otmanelagy commented on #1157
product_secondary_unit migred here #1193

[2022-11-23 14:42] rousseldenis opened #1213 "product_packaging_type: Migrate to 16.0"
@jgrandguillaume I want your advice here.

As package type is standard now in Odoo, I'm wondering what name given to the product_packaging_type module as some features are missing in core.

Should we keep the original name, choose a name like stock_package_type_oca, or ... ?

[2022-11-24 08:14] rousseldenis commented on #1213
After first discussion, it has more common sense to split per introduced functionallity.

So, at first sight stock_package_type_gtin, stock_package_type_default, stock_pacakge_type_quantity

@sebalix @grindtildeath @jbaudoux @gurneyalex @lmignon

[2022-11-24 08:15] rousseldenis commented on #1213
And is it too soon to require a separate repository for this ?

[2022-11-24 09:28] jbaudoux commented on #1213
The right name should be product packaging level.
But as there was already package level in odoo, to prevent confusion, we opt for packaging type. Now that this name exist also in standard odoo, I would go back to the common name "product_packaging_level"

And I would not split the module.

[2022-11-24 09:50] rousseldenis commented on #1213
@jbaudoux So, to be clear, it's not the same as in core :

![image](https://user-images.githubusercontent.com/19529533/203752392-8b2fc955-2bec-47d8-a2ac-1c306821a8be.png)

[2022-11-24 09:53] rousseldenis commented on #1213
And it's not comparable as :

![image](https://user-images.githubusercontent.com/19529533/203753334-7eef1e5f-cd3d-44e5-af41-51001babf5b5.png)

[2022-11-24 10:03] jbaudoux commented on #1213
Indeed. On the product packaging, we will have the core `package_type_id` which defines the put-away rule for storing the goods. And the new `package_level_id` which defines if it is a consumer unit, a transport box or a pallet. That package level will serve in the SO and PO to express if you want to sell / purchase a multiple of consumer unit, box, or pallets

[2022-11-24 10:04] rousseldenis commented on #1213
Ok, so let's go for product_packaging_level

[2022-11-24 10:15] rousseldenis commented on #1157
Migrating product_packaging_type to product_packaging_level following https://github.com/OCA/product-attribute/issues/1213

[2022-11-29 05:34] imarulbala commented on #1157
Migration to version 16.0

- product_state https://github.com/OCA/product-attribute/pull/1219

[2022-11-29 09:19] rousseldenis commented on #1157
Will migrate product_packaging_type_pallet => product_packaging_level_pallet